@{
    Layout = null;
}
@*<div class="footer">
    <!--<table width="0" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <th>版权所有 &copy; 西安电力高等专科学校&nbsp;&nbsp;&nbsp;&nbsp;地址：</th>
            <td>中国·陕西·西安 长乐西路180号 (710032)</td>
        </tr>
        <tr>
            <th>电话：</th>
            <td>0915-3214327</td>
        </tr>
        <tr>
            <th>ICP备案号：</th>
            <td>陕ICP备05010977号-1</td>
        </tr>
    </table> -->
    <!--<tr>
        <th>国网备案号：</th>
        <td>2699A4BK0</td>
    </tr>
    <tr>
        <th><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61010202000104" target="_blank"><img src="/images/gab.png" />陕公网安备：</a></th>
        <td><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61010202000104" target="_blank">61010202000104号</a></td>
    </tr> -->
    <p>版权所有 &copy; 西安电力高等专科学校&nbsp;&nbsp;&nbsp;&nbsp;地址：中国·陕西·西安 长乐西路180号 (710032)&nbsp;&nbsp;&nbsp;&nbsp;电话：0915-3214327</p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61010202000104" target="_blank"><img src="~/Images/gab.png" /> 陕公网安备 61010202000104号</a>&nbsp;&nbsp;&nbsp;&nbsp;陕ICP备05010977号-1&nbsp;&nbsp;&nbsp;&nbsp;国网备案号：2699A4BK0</p>
    <p><img src="~/Images/gwrz.png" width="105" /></p>
</div>*@


<div class="footer" style="position:relative;">
    <p style="position:absolute; top:16px; right:165px;"><img src="/images/gwrz.png" width="85" /></p>
    <p>版权所有 &copy; 西安电力高等专科学校&nbsp;&nbsp;&nbsp;&nbsp;地址：中国·陕西·西安 长乐西路180号 (710032)&nbsp;&nbsp;&nbsp;&nbsp;电话：0915-3214327</p>
    <p><a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=61010202000104" target="_blank"><img src="/images/gab.png" /> 陕公网安备 61010202000104号</a>&nbsp;&nbsp;&nbsp;&nbsp;陕ICP备05010977号-1&nbsp;&nbsp;&nbsp;&nbsp;国网备案号：2699A4BK0</p>
</div>