@{
    Layout = null;
}

<div class="message-option">
    <div class="footer-message">
        <div class="container-fluid">
            <div class="footer-logo"><img src="~/images/home/footer-logo.png"></div>
            <div class="footer-contain">
                <div>
                    <span>招生咨询电话：029-88363633    15991266663</span>
                    <span>办公室电话：029-88373763</span>
                    <span> 传真：029-88373763 </span>
                    <span>就业办:029-88373900</span>
                </div>
                <div><span>备案序号：陕ICP备06009719号  2002-2008  ©  版权所有 西北大学(软件职业技术学院)</span></div>
                <div class="share-show">
                    <a href="#"><img src="~/images/home/share1.png"></a>
                    <a href="#"><img src="~/images/home/share2.png"></a>
                    <a href="#"><img src="~/images/home/share3.png"></a>
                    <a href="#"><img src="~/images/home/share4.png"></a>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>