@{
    Layout = null;
}
<div class="header_a">
    <div class="header_bg">
        <div class="logo"><a href="#"><img src="~/Images/logo_a.png" alt="logo"></a></div>
    </div>
</div>
@Html.Action("HeadNavLibrary", "Home")