@{
    Layout = null;   
}


<div class="nav-bar">
    <div class="container-fluid">
        <div class="nav-img"><img src="~/images/home/natigation-img.png"></div>
        <div class="nav-hinge">
            <div class="nav-search"><input type="text" value="请输入关键字" onfocus="if(this.value == '请输入关键字') this.value = ''" onblur="if(this.value =='') this.value = '请输入关键字'"></div>
            <span class="hinge-text">
                <a href="#" class="clear-border">学&nbsp;生</a>
                <a href="#">教职工</a>
                <a href="#">校&nbsp;友</a>
                <a href="#">考生及家长</a>
            </span>
        </div>
        <div class="clear"></div>
    </div>
</div>

