@{
    Layout = null;
}

<div class="bar-clearance">
    <div class="container-fluid welcom-clearance">
        <div class="nav-img welocm-text">欢迎您访问西北大学软件职业技术学院招生官方网站！</div>
        <div class="nav-hinge clearance-hinge">
            <span class="hinge-text">
                <a href="#" class="clear-border">学&nbsp;生</a>
                <a href="#">教职工</a>
                <a href="#">校&nbsp;友</a>
                <a href="#">考生及家长</a>
            </span>
        </div>
        <div class="clear"></div>
    </div>
</div>