@{
    Layout = null;
}
<div class="header_b">
    <div class="header_bg">
        <div class="logo"><a href="#"><img src="~/Images/logo_b.png" alt="logo"></a></div>
    </div>
</div>
@Html.Action("HeadNavEducation", "Home")