@{
    Layout = null;
}


<div class="related-links">
    相关链接
</div>
<ul>
    <li>
        <a href="#">
            <span>软件系</span>
            <span class="chain-btn">></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>艺术系</span>
            <span class="chain-btn">></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>经管系</span>
            <span class="chain-btn">></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>汽车系</span>
            <span class="chain-btn">></span>
        </a>
    </li>
    <li>
        <a href="#">
            <span>备注</span>
            <span class="chain-btn">></span>
        </a>
    </li>
</ul>