@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
    ViewBag.Title = "";
}

<h2>暂时无法服务，请联系管理员</h2>
@if (Model != null)
{
    <p>
        @Model.Exception.GetType().Name<br />
        位置 @Model.ControllerName @Model.ActionName
    </p>
    <p>错误详细:</p>
    <p>@Model.Exception.Message</p>
}