<div class="container">
    <div class="row">
        @*<div class="hche2">
            <div class="logo"></div>
        </div>
        <div class="hche8">
            <div class="searchbox">
                <ul class="border1">
                    <li><a href="#" class="style1">商品</a></li>
                    <li><a href="#">店铺</a></li>
                </ul>
                <div class="bodys">
                    <p>
                        <input type="search" value="" id="" class="one" placeholder="输入商品">
                        <button class="one1">搜索</button>
                    </p>
                </div>
            </div>
        </div>*@
        <!-- 微信二维码 -->
        @*<div class="hche2">
            <div class="weixin">
            </div>
        </div>*@
        @*<img src="~/images/"*@
    </div>
</div>