.xq_buysDiv {
    margin: 0px 0px 20px 0px;
    background:#fff;
}

    .xq_buysDiv .xq_nubmtem {
        padding: 15px 35px 20px 35px;
        height: 70px;
        line-height: 40px;
    }

        .xq_buysDiv .xq_nubmtem span {
            display: block;
            width: 385px;
            float: left;
        }

.xq_tablelis {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

    .xq_tablelis .teltname {
        font-size: 15px;
        font-weight: bolder;
        background: #fef5ec;
        color: #5d5d5d;
        height: 35px;
        text-align: center;
    }
        .xq_tablelis .teltname td {
            border-bottom:1px solid #ccc;
        }
    .xq_tablelis .shop_img {
        width: 100px;
        height: 100px;
        margin: 10px;
        float: left;
    }

    .xq_tablelis .shop_text {
        float: left;
        width: 350px;
        margin-top: 20px;
    }

.xq_tabletrone {
    border-bottom: 1px solid #ccc;
}

    .xq_tabletrone .xq_tdright {
        height: 120px;
        border-right: 1px solid #ccc;
    }

        .xq_tabletrone .xq_tdright .manycenter {
            height: 80px;
            text-align: center;
        }

    .xq_tabletrone .totalmany {
        display: block;
        height: 55px;
        text-align: center;
        color: #c20201;
    }

.hcxq_goodmany {
    height: 65px;
    line-height: 65px;
    text-align: right;
    margin:auto;
    width:95%;
}

    .hcxq_goodmany .textmany {
        font-size: 15px;
        margin-right: 10px;
    }

    .hcxq_goodmany .manynumb {
        font-size: 17px;
        color: #c20201;
        margin-right: 30px;
    }

.hc_seeknameli li {
    padding: 0px 0px 0px 20px;
    width: 250px;
    padding: 10px 100px 10px 20px\9;
    width: auto\9;
    
    height:40px;
    
    height:30px\9;
    line-height:30px;
    line-height:20px\9;
}

    .hc_seeknameli li:last-child {
        width: 95%;
        line-height:20px;
        overflow:hidden;
    }

.hc_sechalist li {
    padding: 0px 0px 0px 30px;
    width: 210px !important;
    height:40px;
      padding: 10px 0px 10px 30px\9;
    height:30px\9;
    line-height:30px;
    line-height:20px\9;
}
.xq_tablelis .shop_img img {
    height:100px;
    width:100px;
}
.xq_tablelis {
    margin: auto;
    width:94%;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.hc_bgdivzt .hc_sechalist {
    margin-left: 36px
}
