/*企业经营类目*/
.main_body {
    width: 100%;
    height: auto;
}

.body_title {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: #f3f3f3;
    border-top: 1px solid #e3e3e3;
}

    .body_title em {
        background: url("../../../images/publicimg/pd_Shop_star.png");
        height: 17px;
        width: 16px;
        display: block;
        float: left;
        margin: 9px 2px 0px 2px;
    }

    .body_title i {
        display: block;
        float: left;
        color: #c20201;
        font-style: normal;
        font-size: 15px;
        margin: 0px 2px 0px 4px;
    }

.title_left {
    margin-left: 10px;
    width: 200px;
    height: 30px;
    float: left;
}

.title_right {
    width: 100px;
    height: 30px;
    line-height: 32px;
    color: #ad7e52;
    font-size: 14px;
    float: right;
    letter-spacing: 0.2em;
}

.manager_next {
    width: 100%;
    height: auto;
}

.beauty_car {
    height: 60px;
    line-height: 60px;
    width: 98%;
    border-bottom: 1px solid #e76565;
    margin: auto;
}

    .beauty_car input {
        display: block;
        float: left;
        margin: 24px 10px 0px 10px;
    }

    .beauty_car .buty_title {
        color: #c20201;
        font-size: 16px;
        display: block;
        float: left;
    }

.click_text {
    width: 55px;
    height: 30px;
    line-height: 30px;
    float: right;
}

    .click_text .open_close {
        display: block;
        float: left;
        height: 30px;
        color: #333;
    }

    .click_text .top_next {
        width: 15px;
        height: 15px;
        background: url(../../../images/publicimg/dp_menu_arrow.png) no-repeat;
        display: block;
        float: left;
        margin-top: 7px;
        margin-left: 5px;
    }

    .click_text .bto_next {
        width: 15px;
        height: 15px;
        background: url(../../../images/publicimg/dp_menu_arrow.png) no-repeat 0% 100%;
        display: block;
        float: left;
        margin-top: 7px;
        margin-left: 5px;
    }

.beauty_text {
    width: 830px;
    height: auto;
    float: left;
    margin: 10px 0px 10px 20px;
}

.add_pay {
    width: 14px;
    height: 14px;
    display: block;
    float: left;
    background: url(../../../images/publicimg/mc_sq.png) no-repeat;
    margin-top: 4px;
}

.apply_text {
    display: block;
    float: right;
    width: 42px;
    height: 30px;
    *margin-right: 5px;
    *padding-top: 8px;
    cursor: pointer;
}

.beauty_text .left_show {
    float: left;
    height: auto;
    width: 140px;
    text-align: left;
    overflow: hidden;
    width: 100%;
    margin-left: 28px;
}

.beauty_text .right_show {
    float: left;
    height: auto;
    width: 844px;
    margin: 10px 1px 0px 48px;
}

.checkbox {
    float: left;
    display: block;
    border: none;
    margin-top: 5px !important;
    border: 0px none;
    clip: rect(0px, 0px, 0px, 0px);
    height: 1px;
    *height: 0px;
    overflow: hidden;
    padding: 0px;
    position: absolute;
    width: 1px;
}

.manager_next .lable_last {
    display: inline-block;
    position: relative;
    padding: 0px;
    line-height: normal;
    margin-right: 0.1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    background: transparent url("../../../images/publicimg/mc_checkbox.png") no-repeat scroll 100% 0%;
    border: medium none;
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 4px;
    margin-bottom: 0px !important;
}

.manager_next .label_new {
    display: inline-block;
    position: relative;
    padding: 0px;
    line-height: normal;
    margin-right: 0.1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    background: transparent url("../../../images/publicimg/mc_checkbox.png") no-repeat scroll 0% 0%;
    border: medium none;
    width: 14px;
    height: 14px;
    float: left;
    margin-top: 4px;
    margin-bottom: 0px !important;
}

.quanxuan {
    margin-top: 20px !important;
}

.lable_show {
    margin-top: 23px !important;
    display: inline-block;
    position: relative;
    padding: 0px;
    line-height: normal;
    margin-right: 0.1em;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    overflow: visible;
    background: transparent url("../../../images/publicimg/mc_checkbox.png") no-repeat scroll 100% 0%;
    border: medium none;
    width: 14px;
    height: 14px;
    float: left;
    margin-bottom: 0px !important;
    margin-left: 8px;
}

.buty_title {
    margin-left: 10px;
}

.beauty_text .left_show .nursing {
    font-size: 14px;
    color: #c20201;
}

.nursing {
    display: block;
    font-style: normal;
    float: left;
    margin-left: 5px;
    font-size: 13px;
}

.right_next_text {
    float: left;
    height: auto;
    width: 211px;
    text-align: left;
    margin-bottom: 10px;
    overflow: hidden;
}

.mouth_next {
    width: 97%;
    *width: 98%;
    height: auto;
    border-bottom: 1px dashed #e3e3e3;
    margin: auto;
    display: inline-block;
    margin: 0px 9px;
    *padding-bottom: 20px;
}

.year_text {
    width: 150px;
    height: 60px;
    float: left;
    margin-left: 7px;
}

.hide_next {
    display: none;
}

.change_next {
    display: block;
    width: 55px;
    height: 30px;
    margin-top: 28px;
    cursor: pointer;
    outline: none !important;
}

    .change_next:hover {
        text-decoration: none;
        outline: none !important;
    }

a {
    outline: none;
}

.show_next {
    display: block;
}

.apply_for {
    display: block;
    float: right;
    font-style: normal;
}

.sub_show {
    width: 100%;
    height: 42px;
    line-height: 42px;
    margin: 50px 0px;
    text-align: center;
}

    .sub_show a {
        margin: auto;
        display: block;
        width: 118px;
        height: 42px;
        background: #c20201;
        color: #fff;
        font-size: 16px;
        border-radius: 4px;
    }

        .sub_show a:hover {
            text-decoration: none;
        }

/*--over--*/










/*页面主题样式结束*/
/*分页样式*/

.zone8_page {
    display: inline-block;
    margin: 25px auto auto;
    line-height: 35px;
}

    .zone8_page ul {
        padding: 0;
        list-style-type: none;
    }

        .zone8_page ul li {
            height: 30px;
            float: left;
            margin: 5px;
            line-height: 30px;
        }

.zone8_pagels {
    width: auto;
    height: 30px;
    list-style-type: none;
}

    .zone8_pagels li {
        width: 30px !important;
        float: left;
        margin-top: -1px !important;
        border: 1px solid #ededed;
        text-align: center;
        line-height: 30px;
        margin-left: 1px !important;
        margin-right: 1px !important;
    }

.zone8_page ul li b {
    border: 1px solid #ededed;
    padding: 3px;
    width: 30px;
}

.hot_page {
    background: #f65354;
    color: #fff;
}

    .hot_page a {
        color: #fff;
    }

.hchesortpageup {
    border: 1px solid #EDEDED;
    height: 30px;
    padding: 0px 8px;
    width: 62px;
}

.hche_sortpagedown {
    border: 1px solid #EDEDED;
    height: 30px;
    padding: 0px 8px;
    width: 62px;
    float: none;
}

.hchesortpagedownimg {
    color: #999;
    background: transparent url("../../../images/publicimg/page_arrow.png") no-repeat scroll -54px 5px;
    width: 20px;
    height: 20px;
    margin-top: 4px;
    float: right !important;
}

.txt {
    background: #FFF none repeat scroll 0% 0%;
    height: 15px !important;
    width: 25px;
    border: 1px solid #CCC !important;
    text-align: center;
    border-radius: 0px !important;
    margin-top: 6px;
    margin-right: 3px;
}

.btnn {
    background: #FFF none repeat scroll 0% 0%;
    height: 25px !important;
    width: auto;
    border: 1px solid #CCC !important;
    text-align: center;
    border-radius: 0px !important;
    margin-bottom: 5px;
}

.hche_sortsize {
    border: 1px solid #CCC;
    width: 30px;
    height: 30px;
    text-align: center;
}

.hchesortpageupimg {
    color: #999;
    background: transparent url("../../../images/publicimg/page_arrow.png") no-repeat scroll -26px 5px;
    width: 15px;
    height: 20px;
    margin-top: 4px;
}

.hche_sortdata {
    margin-left: 3px !important;
    margin-right: 3px;
}

.zone8_btn {
    width: 40px;
    border: solid 1px #ededed;
    padding: 5px;
}

.hche_sortsizechange {
    background: #F45454;
    color: #FFF;
    border: 1px solid #CCC;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

    .hche_sortsizechange a {
        color: #fff;
    }

.hchesortpageupleft {
    border: 1px solid #CCC;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    *float: none !important;
    *clear: both;
    *display: inline-block;
    *margin-right: 5px;
}

    .hchesortpageupleft .hchesortimg {
        color: #999;
        background: transparent url("../../../images/publicimg/page_arrow.png") no-repeat scroll -23px 3px;
        width: 11px;
        height: 20px;
        margin-top: 4px;
    }

    .hchesortpageupleft samp a {
        color: #CCC;
    }

.hche_sortpagedownleft {
    border: 1px solid #CCC;
    width: 65px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

    .hche_sortpagedownleft .hchesortimg {
        background: transparent url("../../../images/publicimg/page_arrow.png") no-repeat scroll -44px 3px;
        width: 15px;
        height: 20px;
        margin-top: 4px;
    }

    .hche_sortpagedownleft samp a {
        color: #000;
    }

.hchesortpageupright {
    border: 1px solid #CCC;
    width: 65px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

    .hchesortpageupright .hchesortimg {
        color: #999;
        background: transparent url("../../../images/publicimg/page_arrow.png") no-repeat scroll -80px 3px;
        width: 15px;
        height: 20px;
        margin-top: 4px;
        float: right !important;
    }

    .hchesortpageupright samp a {
        color: #CCC;
    }

.hche_sortpagedownright {
    border: 1px solid #CCC;
    width: 65px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    *float: none !important;
    *clear: both;
    *display: inline-block;
}

    .hche_sortpagedownright .hchesortimg {
        background: transparent url("../../../images/publicimg/page_arrow.png") no-repeat scroll -67px 3px;
        width: 9px;
        height: 20px;
        margin-top: 4px;
        float: right !important;
    }

    .hche_sortpagedownright samp a {
        color: #000;
    }

.sorts {
    text-align: center;
}
/*footer-页面底部模块样式*/

.hche-footer {
    padding: 0 !important;
    width: 100%;
    height: auto;
    display: inline-block;
}

.foot_list {
    list-style-type: none;
    padding-top: 40px;
    height: 200px;
}

    .foot_list li {
        width: 20%;
        float: left;
        height: auto;
        display: block;
        text-align: center;
    }

        .foot_list li h4 {
            color: #c20201;
            height: 30px;
            margin: auto;
            width: 60%;
            font-weight: 100;
            border-bottom: dotted 1px #999;
        }

.foot_sflist {
    list-style-type: none;
}

    .foot_sflist ul {
        margin: 0 !important;
    }

    .foot_sflist li {
        padding-top: 6px;
        height: 30px;
        width: 100%;
        text-align: center;
    }

        .foot_sflist li a {
            color: #000;
        }

            .foot_sflist li a:hover {
                color: #c20201;
            }
/*列表*/

.layout_product {
    display: block;
    width: 100%;
    overflow: hidden;
}

    .layout_product ul {
        margin: 0px !important;
    }

.product_show {
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

    .product_show .product_list {
        width: 218px;
        height: 290px;
        float: left;
        background: #FFF none repeat scroll 0% 0%;
        display: inline;
        margin: 0px 0px 14px 16px;
        border: 1px solid #b9b9b9;
    }

        .product_show .product_list:hover {
            border: 1px solid #c20201;
        }

        .product_show .product_list .product_img {
            margin: 8px 9px 0px;
            width: 200px;
            height: 200px;
            overflow: hidden;
            text-align: center;
        }

            .product_show .product_list .product_img a:hover {
                text-decoration: none;
            }

            .product_show .product_list .product_img .sale_text_title {
                display: block;
                height: 36px;
                z-index: 1000;
                position: relative;
                background: #fff;
                opacity: 0.7;
                filter: alpha(opacity=70);
                float: left;
                bottom: 36px;
                width: 200px;
                line-height: 36px;
                color: #c20201;
                font-size: 18px;
            }

    .product_show .list_first {
        margin-left: 0px;
    }

.hc_oneFimg {
    width: 456px !important;
    height: 292px !important;
    padding: 0px !important;
}

.hc_oneFli {
    width: 456px !important;
    float: left;
}

.product_list .product_img img {
    border: none;
}

.product_list .price_sale {
    width: 100%;
    height: 30px;
}

    .product_list .price_sale .sale_img {
        width: 43px;
        height: 17px;
        display: block;
        background: url(../../../images/publicimg/pfj.jpg);
        margin-left: 8px;
        margin-top: 7px;
        float: left;
    }

    .product_list .price_sale .sale_text {
        float: left;
        color: #c20201;
        display: inline;
        padding-left: 5px;
        font-size: 18px;
        line-height: 30px;
    }

.product_list .product_title {
    width: 100%;
    height: 52px;
    line-height: 20px;
    font-size: 12px;
}

.product_list .shop_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    background: #e3e3e3;
}

    .product_list .shop_title .store_shop {
        width: 62%;
        height: 30px;
        display: block;
        float: left;
    }

    .product_list .shop_title .store_shop_img {
        width: 38%;
        height: 30px;
        display: block;
        float: right;
    }

        .product_list .shop_title .store_shop_img em {
            float: left;
            background: url(../../../images/publicimg/Location_icon.png);
            height: 20px;
            width: 20px;
            margin: 5px 0px 0px 10px;
        }

        .product_list .shop_title .store_shop_img i {
            line-height: 30px;
            font-style: normal;
            float: left;
            text-align: left;
            display: block;
        }

.product_list .product_title .title_text {
    overflow: hidden;
    padding: 5px 10px;
    display: block;
    width: 200px;
    line-height: 22px;
    height: 43px;
    overflow: hidden;
}

.product_list a {
    color: #000000;
    text-decoration: none;
}

    .product_list a:hover {
        color: #c20201;
        text-decoration: underline;
    }
/**/
/*底部导航*/

/*.foot_nav {
    width: 100%;
    height: 48px;
    background: #fff;
    margin-top: 40px;
}

    .foot_nav ul {
        margin: 0 !important;
        list-style-type: none;
    }

        .foot_nav ul li {
            width: 14%;
            float: left;
            display: block;
            text-align: center;
            padding: 13px;
        }

            .foot_nav ul li a {
                color: #000;
            }

                .foot_nav ul li a:hover {
                    color: #c20201;
                }*/
/*底部版权部分*/

/*.foot_set {
    width: 690px;
    margin: 34px auto 80px;
    height: auto;
    display: block;
    font-size: 12px;
}

    .foot_set p {
        height: 40px;
        padding: 0 !important;
    }*/

/*遮罩层*/
#modifyCover2 {
    top: 40%;
    background: #fff;
    height: auto;
    width: 375px;
    position: fixed;
    left: 35%;
    z-index: 60000;
    text-align: center;
    border-radius: 10px;
    padding-top: 30px;
}

    #modifyCover2 p {
        width: 94%;
        display: block;
        margin: auto;
        height: auto;
        float: left;
        margin-bottom: 14px;
        margin: 15px 10px;
        *margin:10px;
    *padding-bottom:10px;
    }

#confirmBut {
    line-height: 30px;
    height: 30px;
    display: inline-block;
    background-color: #c20201;
    width: 58px;
    border-radius: 4px;
    color: #fff;
    margin: 0px 5px;
}

.cover {
    border: 1px;
    filter: Alpha(opacity=60);
    filter: Alpha(opacity=60)\9;
}
