@charset "utf-8";
.leftnav .leftnav_title {
	background: url(/images/left_01.jpg) no-repeat;
	height:100px;
	padding-left:40px;
}
.leftnav .leftnav_title b {
	font-family:"微软雅黑","黑体";
	font-size:20px;
	color:#FFFFFF;
	font-weight:normal;
	display:block;
	padding-top:29px;
	height:28px;
}
.leftnav .leftnav_title span {
	font-size:12px;
	color:#FFFFFF;
	display:block;
}
.leftnav .leftnav_bg {
	background:#F5F5F5;
	padding:20px 25px 45px;
}
.leftnav .leftnav_bg li {
}
.leftnav .leftnav_bg li a {
	background: url(/images/common/ico_leftnav.gif) no-repeat 97% 15px;
	display:block;
	padding:0 5px;
	height:40px;
	line-height:40px;
	border-bottom:1px dotted #ccc;
	font-size:14px;
}
.leftnav .leftnav_bg li a:hover, .leftnav .leftnav_bg li.on a {
	color:#36629C;
	font-weight:bold;
}
.leftnav_button {
	font-size:0;
	line-height:0;
	padding-top:10px;
}
.leftnav_tb {
	font-size:0;
	line-height:0;
}
.leftnav_tb li {
	padding-top:10px;
	font-size:0;
	line-height:0;
}
.leftnav_tb li img {
	width: 200px;
	height: 150px;
}
/* 左侧栏目-三级 */
.leftnav .CollapsiblePanel_bt {
	cursor:pointer;
}
.leftnav .CollapsiblePanelClosed .CollapsiblePanel_bt {
	background: url(/images/common/ico_leftnav.gif) no-repeat 97% -35px;
	display:block;
	padding:0 5px;
	height:40px;
	line-height:40px;
	border-bottom:1px dotted #ccc;
	font-size:14px;
}
.leftnav .CollapsiblePanelOpen .CollapsiblePanel_bt, .leftnav .CollapsiblePanelTabHover {
	background: url(/images/common/ico_leftnav.gif) no-repeat 97% -85px;
	display:block;
	padding:0 5px;
	height:40px;
	line-height:40px;
	border-bottom:1px dotted #ccc;
	color:#36629C;
	font-weight:bold;
	font-size:14px;
}
.leftnav .CollapsiblePanelContent {
	border-bottom:1px solid #DDDAD3;
}
.leftnav .CollapsiblePanelContent_bj {
	padding:10px 0;
}
.leftnav .CollapsiblePanelContent a {
	font-size:12px !important;
	padding:0 0 0 18px !important;
	background: none !important;
	border-bottom:none !important;
	height:25px !important;
	line-height:25px !important;
}
.leftnav .CollapsiblePanelContent a:hover {
}

/*左侧栏目新闻*/
.column_left_01 {
	border:1px solid #D9D9D9;
	border-top:4px solid #3871B6;
	background:#FFF;
}
.column_left_01 .column_t {
	padding:15px 20px;
}
.column_left_01 .column_t .column_title {
	font-size:18px;
	font-weight: normal;
	font-family:"微软雅黑","Arial";
}
.column_left_01 .column_t .column_more {
	float: right;
}
.left_01 {
	padding:0 22px 10px;
}
.left_01 li {
	padding:8px 0;
	border-top:1px dotted #CCC;
}
.left_01 li .time {
	color:#3871B6;
	font-size:11px;
}
.left_01 li a {
	display: block;
	max-height:36px;
	line-height:18px;
	overflow:hidden;
	color:#7C7C7C;
}
.left_01 li a:hover {
	color:#FF6600;
}

/*左侧图片*/
.leftnav_pic {
	font-size:0;
	line-height:0;
}
.leftnav_pic li {
	padding-bottom:10px;
}

/* 面包屑 */
.crumb {
	border-bottom:2px solid #E5E5E5;
}
.crumb .title {
	height:45px;
}
.crumb .title p {
    font-size: 24px;
	font-weight:normal;
	font-family:"微软雅黑","黑体";
	color: #000;
}
.crumb .position {
	float:right;
	padding: 8px 0 0;
}
.crumb .position * {
    vertical-align: middle;
}
.crumb .position .home {
	display:inline-block; *display:inline; zoom:1;
	background:url(/images/common/ico_home2.gif) no-repeat 0 1px;
	width:19px;
	height:18px;
}
.crumb .position p {
	display:inline-block; *display:inline; zoom:1;
	height:18px;
	line-height:18px;
	color:#888;
	padding-left:5px;
}
.crumb .position p a {
	color:#888;
}
.crumb .position p a:hover {
	color:#FF6600;
}
.crumb .position p span {
	font-family:"宋体";
	padding:0 12px;
}

/* 分享 */
.flip_page {
	background:url(/images/common/flip_page.gif) no-repeat 35px 0;
	height:119px;
	border:1px solid #D6D6D6;
	color:#999999;
}
.flip_page p {
	height:60px;
	line-height:60px;
	overflow:hidden;
	padding:0 30px 0 75px;
	font-size:14px;
}
.flip_page .a1 {
	border-bottom:1px solid #D6D6D6;
}

/*注意事项*/
.warn {
    background: url(/images/common/ico_point.gif) no-repeat 12px 8px #fffcf7;
    border: 1px solid #ffde9c;
    color: #bd7b00;
    line-height: 22px;
    padding: 5px 15px 5px 35px;
}

/*页码*/
.page {
	text-align:center;
	color:#999;
}
.page .a1 a, .page .a1 span, .page b {
	display:inline-block; *display:inline; zoom:1;
	padding:5px 8px;
	border:1px solid #DEDFDE;
	font-family:Arial, Helvetica, sans-serif;
	color:#999;
	border-radius:3px;
	font-weight:normal;
	background:#FFF;
}
.page .a1 a:hover, .page .a1 span {
	border:1px solid #FF6600;
	background:#FF6600;
	color:#FFFFFF;
}
.page .a2 {
	padding-left:8px;
}

/*404*/
.errors {
	border-top: 1px solid #e5e5e5;
	padding:100px 0;
	width:1000px;
	margin:0 auto;
}
.errors .errors_bg {
	background: url(/images/common/404.gif) no-repeat;
	padding-left:220px;
	min-height:242px;
	margin-left:45px;
}
.errors .title {
	color:#FF6600;
	font-size:20px;
	padding:45px 0 20px;
	font-family:"微软雅黑","黑体";
}
.errors .list {
	font-size:14px;
	line-height:30px;
}
.errors .list b {
	color:#333333;
}
.errors .list a {
	color:#FF6600;
}
.errors .list a:hover {
	text-decoration:underline;
}

/*表单提交*/
.message_forms {
	padding:30px 0 50px;
	/*min-height:664px;*/
}
.message_forms .message_bj {
	/*background:#FFFCF6;
    border: 1px solid #FADEC4;
	padding:30px 0;*/
}
.message_forms table {
	margin:0 auto;
}
.message_forms .title {
	color:#FF6600;
	font-size:16px;
	font-weight:bold;
	padding-bottom:20px;
}
.message_forms th {
    font-size: 12px;
    font-weight: normal;
	padding-right: 5px;
}
.message_forms td {
	padding:6px 0;
}
.message_forms .ps {
	color:#999999;
	padding-left:10px;
	font-family:Arial, Helvetica, sans-serif;
}
.message_forms .text_01 * {
    vertical-align: middle;
}
.message_forms .text_01 input {background:url(/images/message/message_03a.gif) no-repeat #FFF; width: 200px; height: 25px; line-height: 25px; border: 1px solid #CFCFCF; color: #000000; font-size: 12px; padding:0 3px; font-family:Arial, Helvetica, sans-serif;}
.message_forms .text_01 input:hover {border: 1px solid #F89219;}
.message_forms .text_02 textarea {background:url(/images/message/message_03a.gif) no-repeat #FFF; width: 500px; height: 100px; line-height: 20px; border: 1px solid #CFCFCF; color: #000000; font-size: 12px; padding:0 3px; font-family:Arial, Helvetica, sans-serif;}
.message_forms .text_02 textarea:hover {border: 1px solid #F89219;}
.message_forms .submit_01 {
    padding-top:12px;
}
.message_forms .submit_01 input {background: url(/images/message/message_02.gif) no-repeat left center; margin:0; padding:0; width:100px; height:36px; border: none; cursor:pointer; font-size:15px; font-weight:bold; color:#FFFFFF; font-family:"微软雅黑","黑体","宋体";}
.message_forms .star {
	color:#FF0000;
	font-size:12px;
	padding-right:5px;
}

/*产品列表*/
.pro_list .page {
	padding:20px 0;
}
.pro_list li {
    border: 1px solid #E5E5E5;
	background:#FFF;
	width:234px;
	margin:0 15px 15px 0;
	float:left;
}
.pro_list li:hover {
    border: 1px solid #CCC;
	box-shadow:0 0 2px #AAAAAA;
}
.pro_list li.off {
	margin-right:0;
}
.pro_list li .pic {
	padding:18px 18px 0;
}
.pro_list li .pic img {
	width:198px;
	height:198px;
}
.pro_list li .title {
	height:36px;
	line-height:18px;
	overflow:hidden;
	display:block;
	padding-top:12px;
}
.pro_list li .price {
	padding:8px 18px 0;
}
.pro_list li .price span {
	color:#DE0707;
}
.pro_list li .price span b {
	font-size:18px;
	padding-left:3px;
}
.pro_list li .price del {
    color: #ccc;
	padding-left:10px;
}
.pro_list li .review {
	padding:3px 18px 18px;
}
.pro_list li .review a {
	color:#0081CC;
}
.pro_list li .review a:hover {
	color:#FF6600;
}
.pro_list li .button {
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
	background:#F6F6F6;
}
.pro_list li .button a {
	display: block;
	height:35px;
	line-height:35px;
	text-align:center;
}
.pro_list li .button span {
	float:right;
	background:#F6F6F6;
}
.pro_list li .button span a {
    border-left: 1px solid #E5E5E5;
	padding:0 25px;
}
.pro_list li .button a:hover {
	background:#FF6600;
	color:#FFFFFF;
}

/* 内页top */
.bottom_top {
    border-top: 1px dotted #c4c4c4;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    text-align: right;
	/*background: #fafafa;*/
}
.bottom_top .fr {
	_padding-top:12px;
}

/* 单页 */
.about_content {
	padding:15px 0;
	line-height: 30px;
	overflow:hidden;
	font-size: 14px;
	min-height:600px;
}
.about_content img {
	max-width:800px;
	_width:expression(document.body.clientWidth > 800 ? "800px" : "auto");
}

/* 信息文字列表-上方图文推荐 */
.news_pic {
    padding: 25px 0;
	border-bottom: 1px dotted #ccc;
}
.news_pic .pic {
	float:left;
}
.news_pic .pic img {
	width:160px;
	height:110px;
	border:1px solid #DBDBDB;
	padding:7px;
}
.news_pic .title_bg {
	margin-left:200px;
}
.news_pic .title_bg .time {
	background:url(/images/common/time_bg.gif) no-repeat;
	width:106px;
	height:20px;
	line-height:20px;
	text-align:center;
	color:#FFFFFF;
}
.news_pic .title_bg .title {
	height:22px;
	line-height:22px;
	font-family:"微软雅黑","黑体";
	font-size:18px;
	overflow:hidden;
	padding-top:10px;
}
.news_pic .title_bg .title a {
	color:#333;
}
.news_pic .title_bg .title a:hover {
	color:#FF6600;
}
.news_pic .title_bg .sum {
	height:60px;
	line-height:20px;
	color:#AAAAAA;
	overflow:hidden;
	padding-top:13px;
	/*text-indent:2em;*/
}

/* 信息文字列表 */
.news_list {
    padding: 25px 0 30px;
	/*min-height:684px;*/
}
.news_list li {
    /*border-bottom: 1px dotted #CCCCCC;*/
	background:url(/images/common/ico_01.gif) no-repeat left 11px;
    height: 30px;
    line-height: 30px;
	overflow:hidden;
	font-size:14px;
	padding-left:20px;
}
.news_list li.x {
    background: none;
    border-bottom: 1px dotted #ccc;
    height: 15px;
    margin-bottom: 15px;
}
.news_list li .time {
	float:right;
	font-family:Arial, Helvetica, sans-serif;
	padding-left:20px;
}
.news_list li b {
    color: #CCCCCC;
    font-weight: normal;
    padding-right: 3px;
}
.news_list .page {
	padding-top:10px;
}

/* 信息详细 */
.news_show {
	padding:20px 0 30px;
}
.news_show .title {
	font-size:20px;
	font-family:"微软雅黑","黑体","宋体";
	text-align:center;
	padding:0 0 15px;
	color:#333333;
}
.news_show .title2 {
	color:#999;
	text-align:center;
    border-bottom: 1px dotted #CCCCCC;
	padding-bottom:20px;
}
.news_show .content {
	padding-top:12px;
	/*padding-bottom:12px;*/
	line-height: 30px;
	overflow:hidden;
	font-size: 14px;
	min-height:500px;
	/*min-height:736px;
	_height:expression(this.scrollHeight < 736 ? "736px" : "auto");*/
}
.news_show .content img {
	max-width:800px;
	_width:expression(document.body.clientWidth > 800 ? "800px" : "auto");
}
.news_show .page_lr {
    border-top: 1px dotted #CCCCCC;
	height:38px;
	line-height:38px;
	overflow:hidden;
	padding-top:2px;
}
.news_show .page_lr span {
	color:#FF6600;
}

/*图片列表*/
.pic_list {
	padding:35px 0 45px 3px;
}
.pic_list li {
	text-align:center;
	padding:0 12px 30px;
	float:left;
	width:240px;
}
.pic_list li .title {
	display:block;
	height:20px;
	line-height:20px;
	overflow:hidden;
	padding-top:8px;
}
.pic_list li .price {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FF6600;
	padding-top:3px;
}
.pic_list li .price del {
	color:#999999;
	padding-left:6px;
}
.pic_list li img {
	width:230px;
	height:173px;
	padding:4px;
	border:1px solid #E6E6E6;
}

/*用户中心表格列表*/
.user_table_list {
	padding:20px;
	min-height:244px;
}
.user_table_list .page {
	padding-top:20px;
}
.user_table_list .list table {
	width:100%;
	border: 1px solid #FDDFAE;
}
.user_table_list .list th {
	background: url(/images/shopping/shopping_05a.gif) repeat-x;
	height:35px;
	line-height:35px;
	border-bottom: 1px solid #FDDFAE;
	color:#FF6600;
}
.user_table_list .list td {
	text-align:center;
	padding:10px 0;
	line-height:20px;
	color:#333333;
}
.user_table_list .list td a {
	text-decoration:underline;
}
.user_table_list .list .tr_col td {
	background:#FFFBF6;
}
.user_table_list .list tr:hover td {
	background:#FEFEE2;
}
.user_table_list .list td.pic img {
	width:58px;
	height:58px;
	border: 1px solid #E0E0E0;
	padding:1px;
	background:#FFF;
}
.user_table_list .list td.amount * {
	vertical-align: middle;
}
.user_table_list .list td.amount a {
	background:url(/images/product/product_02.gif) no-repeat;
	display:inline-block; *display:inline; zoom:1;
	width:15px;
	height:15px;
}
.user_table_list .list td.amount a.amount_r {
	background-position:right top;
}
.user_table_list .list td.amount a:hover {
	background-position: 0 bottom;
}
.user_table_list .list td.amount a.amount_r:hover {
	background-position: right bottom;
}
.user_table_list .list td.amount input {
	background:#FFF;
	border: 1px solid #C9C9C9;
	width:28px;
	padding:2px 0;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	margin:0 5px;
}