.college-bg{
    background: url("../images/college/student.jpg");
    height: 428px;
}
.active-bg{
    background: url("../images/college/active-bg.jpg");
    height: 399px;
}
.collegeview-bg{
    background: url("../images/college/view-bg.jpg");
    height: 428px;
}
/*content start*/
.content-college{
   margin-top: 40px;
    color:#333333;
}
.container-fluid .college-left{
    float: left;
    width: 220px;
}
.container-fluid .college-right{
    float: left;
    width: 732px;
    margin-left: 50px;
}
.college-title{
    color:#025492;
    font-size: 24px;
    line-height: 50px;
}
.college-titleRed{
    color:#df2f31;
    font-size: 24px;
    line-height: 50px;
}
.college-titleRed span{
    float: right;
    font-size: 12px;
    color:#333333
}
.college-downLine{
    border-bottom: 1px solid #cccccc;
}
.collegeMenu{
    color:#333333;
    font-size: 14px;
}
.collegeMenu li{
    line-height: 40px;
    border-top: 1px solid #cccccc;
    cursor: pointer;
}
.collegeMenu .removeLine{
    border-bottom: none;
}
.collegeMenu>ul>li:hover>div{
    background: #025492;
}
.collegeMenu>ul>li:hover>div>a{
    color:#ffffff;
}
.collegeMenu>ul>.big-change>div{
    background: #025492;
}
.collegeMenu>ul>.big-change>div>a{
    color:#ffffff;
}
.menuShow li:hover{
    background: #025492;
}
.menuShow li:hover a{
    color:#ffffff;
}
.stud-menu>ul>li:hover>div{
    background: #df2f31;
}
.stud-menu>ul>li:hover>div>a{
    color: #ffffff;
}
.stud-menu>ul>.active-changeRedColor>div{
    background: #df2f31;
}
.stud-menu>ul>.active-changeRedColor>div>a{
    color: #ffffff;
}
.menuShow .small-change{
    background: #025492;
    color:#ffffff;
}
.menuShow .small-change a{
    color:#ffffff;
}
.menuShow .small-change em{
    background: url("../images/recruit/whiteSmall.png");
}
.collegeMenu li ul li em{
    margin-left: 40px;
    width: 3px;
    height:3px;
    background: url("../images/recruit/small.png");
    display: inline-block;
}
.collegeMenu li ul li:hover em{
    margin-left: 40px;
    width: 3px;
    height:3px;
    background: url("../images/recruit/whiteSmall.png");
    display: inline-block;
}
.collegeMenu li i{
    float: left;
    margin-top: 18px;
    margin-left: 20px;
    width: 5px;
    height: 5px;
    background: url("../images/recruit/big.png");
}
.collegeMenu li:hover i{
    float: left;
    margin-top: 18px;
    margin-left: 20px;
    width: 5px;
    height: 5px;
    background: url("../images/recruit/whiteBig.png");
}
.collegeMenu .big-change i{
    background: url("../images/recruit/whiteBig.png");
}
.collegeMenu li.active-changeRedColor i{
    background: url("../images/recruit/whiteBig.png");
}
.collegeMenu li span{
    padding-left: 10px;
}
.college-title span{
    float: right;
    font-size: 12px;
    color:#333333
}
.college-right p,.image-text{
    padding: 10px 0;
    line-height: 30px;
}
.image-text span{
    display: inline-block;
    float: left;
}
.text-description{
    width: 578px;
    padding-top:5px;
}
.imageShow{
    width: 150px;
}
.text-description{
    padding-left: 25px;
}
.text-description p{
    line-height: 30px;
    padding: 0;
}
.text-description .category{
    font-size:14px;
    color:#333333;
    font-weight:bold;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.imageShow img{
    padding-top: 10px;
    width:150px;
    height:110px;
}
.category-details{
    font-size:12px;
    color:#666666;
}
.date-time{
    font-size:12px;
    color:#999999;
    text-align: right;
}
.menuShow{
    display: none;
}
.active-changeColor{
   background:#1880dc;
    color: #ffffff;
}
.active-changeRedColor{
    background:#df2f31;
    color: #ffffff;
}
.Red_chain{
    color:#df2f31
}
/*content end*/
/*学院动态start*/

/*学院动态end*/
.imageList{
    padding-bottom: 50px;
}
.imageList ul{
    float: left;
}
.imageList li{
    width: 222px;
    margin: 36px 0px 0px 33px;
    float: left;
    line-height: 24px;
    display: inline-block;
    float:none\9;
    width:218px\9;
}
.imageList li img{
    width: 222px;
    width:218px\9;
    height:168px;
}
.imageList .image-clearance{
    margin-left: 0;
}
.image-clearance>.view-title{
    color:#333333;
}
.imageList .down-view{
    color:#1880dc;
    font-size:14px;
    font-weight: bold;
}