body {
    font-family: "微软雅黑";
}

.cartlogo {
    background: url(/Images/autoimg/publicimg/logo.png) no-repeat;
    width: 164px;
    height: 74px;
    display: block;
    float: left;
    border-right: solid 1px #000000;
    margin: 40px 10px 20px 10px;
}

.logofont {
    width: 90px;
    height: 40px;
    float: left;
    display: block;
    font-size: 28px;
    font-weight: 600;
    margin: 60px 10px 20px 16px;
    line-height: 33px;
}

.cartbor {
    width: 604px;
    height: 140px;
    float: right;
    display: block;
}

.curss {
    color: #c20201 !important;
}

.curr {
    border-bottom: solid 1px #C20201 !important;
}

.cartbor ul {
    list-style-type: none;
    width: 490px;
    height: 80px;
    display: block;
    margin: 33px 20px 19px 0px;
    float: left;
    background: url(/Images/publicimg/gwlc_step_line.png) repeat-x 35px 25px;
}

    .cartbor ul li {
        width: 163px;
        height: 80px;
        display: block;
        float: left;
    }

.cartbor li p {
    width: 114px;
    height: 55px;
    float: left;
    display: block;
    color: #999;
}

.cartbor li span {
}

.cartbor .ileft {
    background: url(/Images/publicimg/gwlc_step1b.png) no-repeat;
    width: 55px;
    height: 55px;
    display: block;
    float: left;
}

.cartbor .icent {
    background: url(/Images/publicimg/gwlc_step2a.png) no-repeat center;
    width: 55px;
    height: 55px;
    display: block;
    float: left;
    text-align: center;
    margin-left: 60px;
}

.cartbor .iright {
    background: url(/Images/publicimg/gwlc_step3a.png) no-repeat;
    width: 55px;
    height: 55px;
    display: block;
    float: right !important;
}
/*内容*/

.cart-cent {
    width: 100%;
    height: auto;
    display: block;
    float: left;
    background: #fff;
    -moz-box-shadow: 0px 4px 5px #888888;
    /* 老的 Firefox */
    box-shadow: 0px 4px 5px #888888;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135, Color='#000000')";
    filter: progid: DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
    margin-bottom: 40px;
}

.cart-tit {
    width: 94%;
    height: 38px;
    display: block;
    margin: 0px auto;
    padding: 30px 0px 0px 0px;
}

* + html.cart-tit {
    width: 94%;
    height: 40px;
    display: block;
    *margin: 10px auto \9;
}

    .cart-tit span {
        width: 200px;
        height: 30px;
        display: block;
        font-size: 16px;
        color: #c20201;
    }

        .cart-tit span i {
            width: 30px;
            height: 20px;
            float: left;
            margin-top: -2px;
            background: url(/Images/publicimg/gwlc_trolley.png) no-repeat;
        }

* + html.cart-tit {
    width: 94%;
    height: 40px;
    display: inline-block;
    margin: 20px auto;
}

    * + html.cart-tit span {
        width: 200px;
        height: 30px;
        display: block;
        font-size: 16px;
        color: #c20201;
        margin: 30px 0px 15px 0px;
    }

.cart-box {
    width: 94%;
    height: 38px;
    display: block;
    margin: 0 auto;
    background: #f7ebdd;
}

    .cart-box ul {
        list-style-type: none;
        margin: 0;
    }

        .cart-box ul li {
            float: left;
            display: block;
            text-align: left;
            padding-left: 20px;
            padding-top: 9px;
        }

            .cart-box ul li input {
                margin: -2px 5px 0px 0px;
            }

.cart-list {
    width: 1097px;
    height: auto;
    display: block;
    margin: 10px auto;
}

.cart-ul {
    height: 38px;
    display: block;
    width: 100%;
    margin: 0px auto;
    background: #eee;
    border: solid 1px #ccc;
}

.cart-ico {
    width: 600px;
    height: 38px;
    display: block;
    padding-left: 18px;
}

    .cart-ico input {
        margin-top: 12px;
        float: left;
    }

    .cart-ico span {
        margin-top: 8px;
        margin-left: 10px;
        float: left;
    }

    .cart-ico img {
        margin-top: 8px;
        margin-left: 10px;
    }

.cart-cert {
    width: 406px;
    height: 100px;
    overflow: hidden;
}

.cart-li {
    height: 134px;
    width: 100%;
    display: block;
    background: #f8f8f8;
    border: solid 1px #ccc;
    border-top: none;
}

    .cart-li ul {
        margin-bottom: 0;
    }

        .cart-li ul li {
            float: left;
            height: 134px;
        }

            .cart-li ul li span {
                padding-left: 0px;
                padding-top: 38px;
                float: left;
                text-align: center;
            }

            .cart-li ul li .price_opation {
                width: 102px;
            }

            .cart-li ul li span .opation_style {
                width: 102px;
                height: 30px;
            }

            .cart-li ul li span .opation_tip {
                line-height: 20px;
                border: 1px solid #FFE1D3;
                width: 98px;
                border-radius: 3px;
                height: 40px;
                background: #FFF0E7;
                color: #c20201;
                /*FFF0E7*/
            }

            .cart-li ul li p a {
                float: left;
                padding-top: 38px;
                padding-left: 16px;
            }

            .cart-li ul li em {
                float: left;
                padding-top: 38px;
                padding-left: 16px;
                font-family: "微软雅黑";
                font-style: normal;
            }

                .cart-li ul li em a {
                    width: 100px;
                    height: 30px;
                    display: block;
                }
            /*.cart-li ul li input {
	float: left;
	padding-top: 38px !important;
	padding-left: 16px;
	margin-left: -24px;
}*/

            .cart-li ul li img {
                float: left;
                padding-top: 16px !important;
                width: 102px;
                height: 102px;
            }
/*温馨提示部分*/

.cart-xi {
    height: 54px;
    width: 94%;
    display: block;
    margin: 0 auto;
}

.cart-call {
    height: 54px;
    width: 750px;
    margin: auto;
    padding-top: 14px;
}

    .cart-call span {
        color: #C20201;
    }

        .cart-call span i {
            background: url(/Images/publicimg/gwlc_warning.png);
            width: 16px;
            height: 16px;
            display: block;
            float: left;
            margin: 1px 14px;
        }

.cart-send {
    height: 48px;
    width: 94%;
    display: block;
    margin: auto;
    background: #F7EBDD;
    margin-bottom: 40px;
}

    .cart-send ul li {
        list-style-type: none;
        float: left;
        padding-top: 13px;
    }

        .cart-send ul li b {
            color: #c20201;
            margin: 0px 10px;
        }

        .cart-send ul li input {
            margin: -1px 4px 0px 0px;
        }

.cart-btn {
    width: 160px;
    height: 34px;
    text-align: center;
    background: #D9D9D9;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.cart-ck {
    width: 160px;
    height: 34px;
    text-align: center;
    background: #c20201;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}

.cartt {
    float: left;
}

.cartss {
    width: 100%;
    text-align: center;
}
/*购物车特效*/

.min {
    display: inline-block;
    width: 25px !important;
    height: 30px;
    border: 1px solid #D9D9D9;
    background-color: #F7F7F7;
    float: left;
    cursor: pointer;
    outline: 0;
    padding: 0px;
}

* + html .min {
    width: 25px !important;
    height: 30px !important;
    float: left;
    padding: 2px 12px 26px 5px;
    margin-top: -1px;
}

.text_box {
    width: 36px;
    height: 17px;
    padding: 4px 5px;
    line-height: 17px;
    border-width: 1px 0;
    border-style: solid;
    border-color: #D9D9D9;
    border-radius: 0;
    float: left;
    text-align: center;
    color: #565656;
    outline: 0;
    display: block;
    background: #FFF;
    *margin-top: -1px;
    border-left: none !important;
    border-right: none !important;
}

input {
    border-radius: 0px !important;
}

.add {
    display: inline-block;
    width: 25px !important;
    height: 30px;
    border: 1px solid #D9D9D9;
    background-color: #F7F7F7;
    float: left;
    cursor: pointer;
    outline: 0;
    padding: 0px;
}

* + html .add {
    width: 25px !important;
    height: 30px !important;
    float: left;
    padding: 2px 12px 26px 5px;
    margin-top: -1px;
}

.carttoal .price {
    width: 130px;
    float: left;
}

#total {
    width: 20px;
    font-family: "微软雅黑";
    font-style: normal;
}

.hche_connection {
    background: transparent url("/Images/publicimg/Links.gif") no-repeat scroll -3% 0%;
    width: 70px;
    height: 20px;
    display: inline-block;
    float: none !important;
    margin-top:7px;
}
.cart_stores {
    *padding-bottom:20px;
}