@using HC.Data.ViewModels
@model IndexModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.title = "西北大学软件职业学院";
}
@section headCSS{
<link href="~/Content/home.css" rel="stylesheet" type="text/css" />
    }

@section headScript{
 
    }




<div class="home-bg">
    @Html.Action("HeadNav", "Home")
    <div class="chain-group">
        <div class="groupFirst">
            <a href="/Enrol"><img src="~/images/home/link5.gif" /></a>
        </div>
        <div class="groupSecond">
            <a href="/Information/Section/2067"><img src="~/images/home/link1.gif" /></a>
            <a href="/Information/Section/2068"><img src="~/images/home/link2.gif" /></a>
            <a href="#"><img src="~/images/home/link8.jpg" /></a>
            <a href="/Information/singlePage/3084"><img src="~/images/home/link3.gif" /></a>
            <a href="/Information/Section/3125"><img src="~/images/home/link4.gif" /></a>
        </div>
        <div class="groupThree">
            <a href="/Information/Section/18" class="views"><img src="~/images/home/link6.gif" /></a>
            <a href="#"><img src="~/images/home/link7.gif" /></a>
        </div>
    </div>


    </div>

   
