@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta name="renderer" content="webkit" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <title>密码修改</title>
    <!-- 底层框架 -->
    <link rel="stylesheet" id="screen" type="text/css" href="~/HC.Manage/Content/common/css/public-1200.css" />
    <link rel="stylesheet" id="screen" type="text/css" href="~/HC.Manage/Content/common/css/publicv2.css" />
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/hche-sy.css" type="text/css" /><!--头部搜索样式-->
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/sellerAB.css" type="text/css" />
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/authentication.css" />
    <link rel="stylesheet" href="~/HC.Manage/Content/common/artdialog/ui-dialog.css">
    <style type="text/css">
        .hc_textlable {
            width: 150px !important;
        }

        #Certication {
            /*padding-left: 0px !important;*/
            padding-top: 10px;
        }

        .hc_chk {
            padding-left: 103px !important;
        }

        .hc_item .hc_attestationBtn {
            margin: 0px 0px 21px 365px !important;
        }

        .splitSection {
            margin-top: 15px;
        }

        .modalPromission {
            margin-left: 30px;
        }

            .modalPromission input {
                margin-top: 0px;
            }

            .modalPromission label {
                float: left;
                margin-right: 15px;
            }

        .sectionMoudal {
            float: left;
            width: 100px;
            margin-right: 11px;
        }

        .NewsMenueSubSection {
            display: block;
        }

        .NewsThreeMenueSubSection {
            display: block;
        }

        .oneLevelName {
            width: 100%;
        }

        .sectionMoudal p {
            padding-right: 0;
        }

        .sectionMoudal input {
            margin-top: 0px;
        }

        .hc_attestationBtn {
            color:white;
            background-color: #0088cc;
        }

        .hc_item .hc_fl .spanmsci {
            display: none;
        }

        .NewsMenueSubSection {
            background-color: #ffffff !important;
        }

        .error {
            color: red;
            display: none;
        }

        .buyerright{
                margin: 0 auto;
    float: none;
    margin-top: 50px;
        }
    </style>

    <!--[if lte IE 6]>
    <link rel="stylesheet" href="~/HC.Manage/Content/common/css/public-ie6.css" />无
    <![endif]-->
    <!--[if lte IE 7]>
         <link rel="stylesheet" href="~/HC.Manage/Content/common/css/ie.css" />
    <![endif]-->
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://libs.useso.com/js/html5shiv/r29/html5.js"></script>
    <![endif]-->
    <script src="~/HC.Manage/Content/common/script/jquery-1.7.2.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="~/HC.Manage/Content/common/artdialog/dialog-plus-min.js"></script>
</head>

<body>
            <div class="buyerright">
                <div class="hc_maintop">
                    <div class="hc_titletop">
                        您的密码已过期，必须修改密码才能正常登陆
                    </div>
                </div>
                <!--基本信息-->
                <div class="hc_maintop">
                    <div class="hc_titletop">
                        <img src="~/HC.Manage/images/ManageImg/xin.png">
                        <img src="~/HC.Manage/images/ManageImg/xin.png">
                        密码修改
                        <img src="~/HC.Manage/images/ManageImg/xin.png">
                        <img src="~/HC.Manage/images/ManageImg/xin.png">
                    </div>
                </div>
                <div>
                    <div class="hc_item">
                        <span class="hc_textlable"><span class="hc_red"></span>原密码：</span>
                        <div class="hc_fl">


                            <input type="password" value="" name="oldPwd" id="oldPwd" /><span class="error">必填</span>
                        </div>
                    </div>

                    <div class="hc_item">
                        <span class="hc_textlable"><span class="hc_red"></span>新密码：</span>
                        <div class="hc_fl">
                            <input type="password" value="" name="NewPwd" id="NewPwd" /><span class="error">必填</span>
                        </div>
                    </div>

                    <div class="hc_item">
                        <span class="hc_textlable"><span class="hc_red"></span>确认密码：</span>
                        <div class="hc_fl">
                            <input type="password" value="" id="NewPwdCorfirm" /><span class="error">必填</span>
                            <span class="error errorEq">两次输入不一致</span> 
                        </div>

                    </div>




                </div>
                <div style="clear:both;"></div>


                <div class="hc_maintop">
                    <div class="hc_titletop" style="text-align: center;">
                        <input class="hc_attestationBtn" id="btnAttestation" value="保存" tabindex="20" type="button">
                    </div>
                </div>

            </div>
      
    <input type="hidden" value="@ViewBag.Token" id="mix" />


    <script type="text/javascript">

    //JS扩展
    if (!String.prototype.trim) {
        String.prototype.trim = function () {
            return this.replace(/(^\s*)|(\s*$)/g, "");
        }
    }

    Array.prototype.indexOf = function (val) {
        for (var i = 0; i < this.length; i++) {
            if (this[i] == val) return i;
        }
        return -1;
    };

    Array.prototype.remove = function (val) {
        var index = this.indexOf(val);
        if (index > -1) {
            this.splice(index, 1);
        }
    };
    //扩展结束

    var viewModel = {
        oldPwd: '',
        NewPwd: '',
        token:''
    };



    var valiateResult = true;

    function reQuireVa(e) {
        if (e.val().replace(/(^\s+)|(\s+$)/g, "").replace(/\s/g, "").length == 0) {
            valiateResult = false;
            e.nextAll(".error").not(".errorEq").show();
        }
    }

    function vaNum(e) {
        if (e.val().replace(/(^\s+)|(\s+$)/g, "").replace(/\s/g, "").length > 0) {
            var reg = new RegExp("^[0-9]*$");
            if (!reg.test(e.val())) {
                valiateResult = false;
                e.nextAll(".error").show();
            }
        }
    }

    function equelPwd(neo, net) {
        if (neo.val().trim() != net.val().trim()) {
            net.nextAll(".errorEq").show();
            valiateResult = false;
        }
    }









    $(document).ready(function () {
        //保存
        $("#btnAttestation").click(function () {

            $("#btnAttestation").val("正在保存...")
            $("#btnAttestation").attr("disabled", true);

            viewModel.oldPwd = $("#oldPwd").val().trim();
            viewModel.NewPwd = $("#NewPwd").val().trim();
            viewModel.token = $("#mix").val().trim();
            //console.log(viewModel);

            //验证必填
            reQuireVa($("#oldPwd")); reQuireVa($("#NewPwd")); reQuireVa($("#NewPwdCorfirm"));
            equelPwd($("#NewPwd"), $("#NewPwdCorfirm"));

            if (!valiateResult) {
                $("#btnAttestation").val("保存");
                $("#btnAttestation").removeAttr("disabled");
                return false;
            }


            $.ajax({
                url: "@(Url.Action("_ChangePassword", "Home"))",
                data: viewModel,
                type: 'POST',
                dataType: 'json',
                error: function (xhr, status) {
                    errorTip("发生错误");
                },
                success: function (Data) {
                    
                    if (Data.state == "success") {
                        messageTip("修改成功");
                        
                        $("#btnAttestation").removeAttr("disabled");
                        $("#btnAttestation").val("保存");
                    } else {
                        errorTip(Data.mes);
                        $("#btnAttestation").removeAttr("disabled");
                        $("#btnAttestation").val("保存");
                    }
                }
            });
        })

        $(".buyerright input:password").on('input', function (e) {
            $(this).nextAll(".error").hide();
            valiateResult = true;
        });


        //成功提示
        function messageTip(txt) {
            var d = dialog({
                title: '消息',
                content: txt,
                cancel: false,
                width: 200,
                height: 30,
                ok: function () { location.href = "/manage";}
            });
            d.showModal();
            //setTimeout(function () {
            //    d.close().remove();
            //}, 2000);
        }


        function errorTip(txt) {
            var d = dialog({
                title: '消息',
                content: txt,
                width: 200,
                height: 50
            });
            d.showModal();
            //setTimeout(function () {
            //    d.close().remove();
            //}, 2000);
        }

    })
    </script>


   
</body>
</html>