<?xml version="1.0" encoding="utf-8" ?>
<!--导航菜单-->
<siteMap>
    <siteMapNode title="Home" controller="Home" action="Overview">

        <siteMapNode title="店铺首页" HCResource="店铺首页" controller="Home" action="Index"  ImageUrl="~/HC.Manage/Content/Telerikimages/home.png" />
     <!--商品管理-->
        <siteMapNode title="商品管理" HCResource="商品管理" ImageUrl="~/HC.Manage/Content/Telerikimages/view_process_own.png" >
          
          <!--商品清单-->
            <siteMapNode title="商品清单" HCResource="商品清单" ImageUrl="~/HC.Manage/Content/Telerikimages/chart_organisation.png" >
                <siteMapNode title="在售商品管理" HCResource="在售商品管理" PermissionNames="ManageCompany" controller="" action=""/>
               <siteMapNode title="未上架的商品" HCResource="未上架的商品" PermissionNames="ManageDepartment" controller="" action=""/>
                <siteMapNode title="添加商品信息" HCResource="添加商品信息" PermissionNames="ManageMajor" controller="" action=""/>
              <siteMapNode title="即将开始" HCResource="即将开始" PermissionNames="ManageMajor" controller="" action=""/>
              <siteMapNode title="被删除的商品" HCResource="被删除的商品" PermissionNames="ManageMajor" controller="" action=""/>
            </siteMapNode>
          <!--商品清单end-->
          
          <!--销售管理-->
          <siteMapNode title="销售管理" HCResource="销售管理" ImageUrl="~/HC.Manage/Content/Telerikimages/free_for_job.png" >
            <siteMapNode title="待维护运费订单" HCResource="待维护运费订单" PermissionNames="ManageEmployee" controller="" action=""/>
            <siteMapNode title="上门自提待发货" HCResource="上门自提代发货" PermissionNames="ManageEmployee" controller="" action=""/>
            <siteMapNode title="自选配送待发货" HCResource="自选配送待发货" PermissionNames="ManageEmployee" controller="" action=""/>
          </siteMapNode>
          <!--销售管理end-->
          
          <!--配送管理-->
          <siteMapNode title="配送管理" HCResource="配送管理" PermissionNames="ManageCatalog" ImageUrl="~/HC.Manage/Content/Telerikimages/doc_excel_csv.png" >
            <siteMapNode title="交易完成上门自提" HCResource="交易完成上门自提" PermissionNames="ManageCatalog" controller="" action=""/>
            <siteMapNode title="交易完成自选配送" HCResource="交易完成自选配送" PermissionNames="ManageCatalog" controller="" action=""/>
            <siteMapNode title="待收货上门自提" HCResource="待收货上门自提" PermissionNames="ManageCatalog" controller="" action=""/>
            <siteMapNode title="待收货自选配送" HCResource="待收货自选配送" PermissionNames="ManageCatalog" controller="" action=""/>
          </siteMapNode>
          <!--配送管理end-->

          <!--库存管理-->
          <siteMapNode title="库存管理" HCResource="库存管理" ImageUrl="~/HC.Manage/Content/Telerikimages/chart_organisation.png" >
          </siteMapNode>
          <!--库存管理end-->
          
          
        </siteMapNode>
      <!--商品管理END-->
      
      <!--店铺管理-->
      <siteMapNode title="店铺管理" HCResource="店铺管理" PermissionNames="ManageOrders, ManageReturnRequests, ManageGiftCards" ImageUrl="~/HC.Manage/Content/Telerikimages/ico-sales.png">
            <siteMapNode title="基本信息" HCResource="基本信息" PermissionNames="ManageNews" controller="" action="" ImageUrl="~/HC.Manage/Content/Telerikimages/list2_add.png"/>
            <siteMapNode title="店铺装修" HCResource="店铺装修" PermissionNames="ManageNews" controller="" action="" ImageUrl="~/HC.Manage/Content/Telerikimages/list.png"/>       
        </siteMapNode>
      <!--店铺管理end-->
      
      <!--个人中心-->
        <siteMapNode title="个人中心" HCResource="个人中心" PermissionNames="ManageCatalog" ImageUrl="~/HC.Manage/Content/Telerikimages/test_tubes.png" >
        </siteMapNode>
      <!--个人中心end-->
      
        <siteMapNode title="用户管理" HCResource="用户管理" PermissionNames="ManageUsers, ManageUserRoles" ImageUrl="~/HC.Manage/Content/Telerikimages/ico-customers.png" >
     
        </siteMapNode>

       

        <siteMapNode title="帮助" HCResource="帮助" controller="" action="" ImageUrl="~/HC.Manage/Content/Telerikimages/help_browser.png">
            <siteMapNode title="帮助文档" HCResource="帮助文档" ImageUrl="~/HC.Manage/Content/Telerikimages/view_doc.png" url=""/>
            <siteMapNode title="技术支持" HCResource="技术支持" ImageUrl="~/HC.Manage/Content/Telerikimages/help.png" url=""/>
            <siteMapNode title="关于我们" HCResource="关于我们" ImageUrl="~/HC.Manage/Content/Telerikimages/filetypes.png" url="" target="_blank"/>
        </siteMapNode>

    </siteMapNode>
</siteMap>

