/*店铺搜索列表*/
.hcdp_shoplist {
    height: auto;
    background: #fff;
    margin-top: 15px;
    border-bottom: 2px solid #ccc;
    display: inline-block;
}

    .hcdp_shoplist .hcdp_fontnubm {
        padding: 0px 60px 10px 60px;
        font-size: 14px;
        color: #c20201;
        float: left;
        width: 1050px;
    }

    .hcdp_shoplist .hcdp_categoryli {
        margin: 3px 60px 10px;
        border: 1px solid #ccc;
        float: left;
        width: 1048px;
    }

        .hcdp_shoplist .hcdp_categoryli ul {
            float: left;
            margin: 10px 0px 0px 0px;
            width: 975px;
            *padding-bottom:13px;
        }

        .hcdp_shoplist .hcdp_categoryli .hc_titbis {
            color: #c20201;
            float: left;
            margin: 10px -20px 10px 20px;
        }

        .hcdp_shoplist .hcdp_categoryli ul li {
            float: left;
            cursor: pointer;
            margin: 0px 0px 10px 30px;
        }

            .hcdp_shoplist .hcdp_categoryli ul li .red {
                color: #c20201;
            }

    .hcdp_shoplist .hcdp_sortdiv {
        float: left;
        margin: 3px 60px 10px;
        width: 1050px;
    }

        .hcdp_shoplist .hcdp_sortdiv ul {
            margin: 0px;
            height: 35px;
            border: 1px solid #ccc;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortlione {
            width: 120px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-right: 1px solid #ccc;
            font-size: 15px;
            float: left;
            cursor: pointer;
        }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortlione .dp_sortfonone {
                float: left;
                margin-left: 25px;
            }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortlione .dp_sortoneimg {
                background: transparent url("/Images/images/cartimg/Menu_arrow.png") repeat scroll -15px 0px;
                height: 20px;
                width: 20px;
                display: block;
                float: left;
                margin-top: 9px;
                margin-left: 6px;
            }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortlitwo .dp_sortbotmimg {
            background: transparent url("/Images/images/cartimg/Menu_arrow.png") repeat scroll -19px 0px;
            height: 20px;
            width: 15px;
            display: block;
            float: left;
            margin-top: 9px;
            margin-left: 6px;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortlitwo {
            width: 80px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-right: 1px solid #ccc;
            font-size: 15px;
            float: left;
            cursor: pointer;
        }

        .hcdp_shoplist .hcdp_sortdiv .hc_dassort {
            border: none;
            margin-left: 15px;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortlitwo .dp_sortfontwo {
            float: left;
            margin-left: 15px;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortlitwo .dp_sorttwoimg {
            background: transparent url("/Images/arrow_up_down.png") repeat scroll 0px 0px;
            height: 20px;
            width: 15px;
            display: block;
            float: left;
            margin-top: 8px;
            margin-left: 6px;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortlitwo .dp_sortthreeimg {
            background: transparent url("/Images/arrow_up_down.png") repeat scroll -13px 0px;
            height: 20px;
            width: 15px;
            display: block;
            float: left;
            margin-top: 9px;
            margin-left: 6px;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortmanysil {
            height: 35px;
            line-height: 35px;
            text-align: center;
            font-size: 15px;
            float: left;
            border-right: 1px solid #ccc;
        }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortmanysil input {
                width: 45px;
                border-radius: 0px;
                height: 15px;
                margin-bottom: 3px;
                margin-left: 10px;
                margin-right: 10px;
            }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortmanysil .butsuccser {
                height: 25px;
                margin: -4px 25px 0px -5px;
                width: 45px;
                background: #fff;
                border: 1px solid #ccc;
            }

                .hcdp_shoplist .hcdp_sortdiv .dp_sortmanysil .butsuccser:hover {
                    color: #c20201;
                    border: 1px solid #c20201;
                }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortside {
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-right: 1px solid #CCC;
            font-size: 15px;
            float: left;
            border-left: 1px solid #ccc;
            margin-left: 240px;
            cursor: pointer;
        }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortside .dp_sotfimg {
                display: block;
                height: 35px;
                background: transparent url("/Images/list_icon.png") repeat scroll -3px 0px;
            }

                .hcdp_shoplist .hcdp_sortdiv .dp_sortside .dp_sotfimg.spt_img {
                    background: transparent url("/Images/list_icon.png") repeat scroll -3px -40px;
                }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortlong {
            width: 35px;
            height: 35px;
            line-height: 35px;
            text-align: center;
            border-right: 1px solid #CCC;
            font-size: 15px;
            float: left;
            cursor: pointer;
        }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortlong .dp_sotfimg {
                display: block;
                height: 35px;
                background: transparent url("/Images/list_icon.png") repeat scroll 37px 0px;
            }

                .hcdp_shoplist .hcdp_sortdiv .dp_sortlong .dp_sotfimg.spt_img {
                    background: transparent url("/Images/list_icon.png") repeat scroll 37px -40px;
                }

        .hcdp_shoplist .hcdp_sortdiv .to_sore {
            height: 35px;
            line-height: 35px;
            text-align: center;
            float: left;
            width: 120px;
            font-size: 12px;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortpagingli span {
            float: left;
        }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortpagingli .upioc {
            display: block;
            height: 20px;
            background: transparent url("/Images/publicimg/page_arrow.png") repeat scroll -40px 0px;
            width: 20px;
            margin: 9px 10px;
            cursor: pointer;
        }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortpagingli .upioc.uptwoioc {
                background: transparent url("/Images/publicimg/page_arrow.png") repeat scroll 0px 0px;
            }

        .hcdp_shoplist .hcdp_sortdiv .dp_sortpagingli .nextioc {
            display: block;
            height: 20px;
            background: transparent url("/Images/publicimg/page_arrow.png") repeat scroll -100px 0px;
            width: 20px;
            margin: 9px 10px;
            cursor: pointer;
        }

            .hcdp_shoplist .hcdp_sortdiv .dp_sortpagingli .nextioc.nexttwoico {
                background: transparent url("/Images/publicimg/page_arrow.png") repeat scroll -60px 0px;
            }

    .hcdp_shoplist .hcdp_shopinglis {
        margin: 3px 60px 10px;
        width: 1050px;
    }
/*列表*/
.product_list a:hover {
    color: #c20201;
    text-decoration: underline;
}

.chinhot_show {
    margin: 0px;
    padding: 0px;
}

.product_show {
    margin: 0px;
    padding: 0px;
    width: 485px;
}

.product_list {
    width: 220px;
    height: 320px;
    float: left;
    background: #FFF none repeat scroll 0% 0%;
    display: inline;
    border: 1px solid #B9B9B9;
    margin-bottom: 30px;
    margin-right: 54px;
}

.last {
    margin-right: 0px;
}

.product_list .product_img {
    margin: 8px 10px 0px;
    width: 200px;
    height: 200px;
    overflow: hidden;
    text-align: center;
}

.product_list a {
    color: #000;
    text-decoration: none;
}

.product_list .product_img img {
    border: medium none;
    width: 200px;
    height: auto;
    max-height: 200px;
}

.product_list .sale_text_title {
    height: 26px;
    float: left;
    width: 220px;
    line-height: 30px;
    color: #C20201;
    font-size: 18px;
    padding-left: 10px;
}

.product_list .product_title {
    width: 100%;
    height: 50px;
    line-height: 20px;
    font-size: 12px;
    float: left;
}

    .product_list .product_title .title_text {
        padding: 5px 10px;
        display: block;
        width: 200px;
        line-height: 22px;
        height: 43px;
        overflow: hidden;
    }

.product_list .address_hide {
    float: left;
    width: 100%;
    height: 32px;
    margin: 1px 0px 0px;
    background: #ccc;
    text-align: center;
    line-height: 32px;
}

.hcdp_shoplist .hcdp_sortdiv .dp_sortlitwo .dp_sorttwoimg.dp_sortthreeimg {
    background: transparent url("/Images/arrow_up_down.png") repeat scroll -13px 0px;
}

.hcgz_choicesp {
    height: 50px;
    line-height: 50px;
    margin: 10px 0px 10px 60px;
    float: left;
    width: 1050px;
    border-bottom: 1px solid #ccc;
}

    .hcgz_choicesp span {
        padding: 5px;
    }

    .hcgz_choicesp .hcgz_carhor {
        background: transparent url("/Images/close-red.png") no-repeat scroll right -1px;
        border: 1px solid #C20201;
        cursor: pointer;
        padding-right: 30px !important;
        margin-left: 10px;
    }

.hcdp_shoplist .hc_henglist {
    float: left;
    margin: 3px 60px 10px;
    width: 1050px;
}

.hc_henglist .product_list {
    width: 99%;
    padding: 10px 10px 20px 0px;
    height: 100px;
    font-size: 12px;
    margin: 10px 0px 0px;
    float: left;
    background: #FFF none repeat scroll 0% 0%;
    display: inline;
    border: 1px solid #B9B9B9;
}

    .hc_henglist .product_list .product_img {
        float: left;
        width: 100px;
        height: 100px;
        margin: 0px 0px 0px 15px;
        overflow: hidden;
        text-align: center;
    }

    .hc_henglist .product_list a {
        color: #000;
        text-decoration: none;
    }

        .hc_henglist .product_list a:hover {
            color: #C20201;
            text-decoration: underline;
        }

    .hc_henglist .product_list .sale_text_title {
        height: 26px;
        float: left;
        width: 220px;
        line-height: 30px;
        color: #C20201;
        font-size: 18px;
        padding-left: 10px;
        margin-left: 560px;
    }

    .hc_henglist .product_list .product_title {
        line-height: 20px;
        font-size: 12px;
        float: left;
        width: 350px;
        height: 100px;
        margin-left: -770px;
    }

        .hc_henglist .product_list .product_title .title_text {
            display: block;
            line-height: 22px;
            height: 43px;
            overflow: hidden;
            padding: 5px 0px;
            width: 100%;
        }

    .hc_henglist .product_list .address_hide {
        width: 40%;
        margin-top: 10px;
        background: #FFF none repeat scroll 0% 0%;
        line-height: 30px;
        display: block;
        overflow: hidden;
        height: 30px;
        float: left;
        text-align: left;
    }
/*分页*/
.hcdp_pageshop {
    float: left;
    width: 100%;
    text-align: center;
    height: 40px;
    margin-bottom: 60px;
}

.to_sore .zone_sore {
    border: medium none;
}

.zone_sore {
    width: 105px;
    height: 30px;
    line-height: 30px;
    float: left;
    z-index: 1;
    margin: 3px;
    cursor: pointer;
    overflow: hidden;
    border: 1px solid transparent;
}

.to_sore .to_sore_left {
    width: 22px;
    height: 30px;
    line-height: 30px;
    float: left;
    display: block;
    background: transparent url("/Images/publicimg/page_arrow.png") no-repeat scroll 15% 57%;
    cursor: pointer;
}

    .to_sore .to_sore_left:hover {
        background: transparent url("/Images/publicimg/page_arrow.png") no-repeat scroll -5% 57%;
        cursor: pointer;
    }

.to_sore .to_sore_text {
    width: 60px;
    height: 30px;
    line-height: 30px;
    float: left;
    display: block;
    text-align: center;
}

    .to_sore .to_sore_text .red_text {
        color: #C20201;
    }

    .to_sore .to_sore_text em {
        font-style: normal;
    }

.to_sore .to_sore_right {
    width: 22px;
    height: 30px;
    line-height: 30px;
    float: right;
    display: block;
    background: transparent url("/Images/publicimg/page_arrow.png") no-repeat scroll 85% 57%;
    cursor: pointer;
}

    .to_sore .to_sore_right:hover {
        background: transparent url("/Images/publicimg/page_arrow.png") no-repeat scroll 105% 57%;
        cursor: pointer;
    }
/*分页*/
.sorts {
    height: auto;
}
#gotopage_btn {
    padding:0px 7px;
}
.zone8_page {
    *margin-left:295px;
}