/*附件样式组*/

a {
    color: #000000;
}

.w8 {
    min-height: 702px;
    width: 100%;
    display: block;
    margin: 0 0 17px 0;
}

.hc_clear {
    display: inline-block;
    height: 35px;
    *height: 40px;
    width: auto;
}

.ul-left {
    width: 81%;
}

.hc_floor {
    margin-top: 0px;
    height: 30px;
    margin-bottom: 13px;
    border-bottom: 4px solid #C20201;
}

.hche_hf {
    height: 120px;
    width: 100%;
    display: block;
}

* + html .hche_hf {
    height: 120px;
    width: 100%;
    display: block;
}

.hche_f8left {
    height: 598px;
    width: 230px;
    display: block;
    float: left;
    margin-bottom: 13px;
}

.hche_f8right {
    height: 598px;
    width: 927px;
    display: block;
    float: right;
    margin-bottom: 13px;
}

.grey {
    background: #ececec;
}

.hchebg_write {
    background: #fff;
}

.hchebg_grey {
    background: #CCCFD6;
}

/*首页logo部分*/


.hche_cx {
    margin: 30px 20px;
}
/*全局搜索样式*/

* + html .hche6 {
    width: 49%;
}

.searchbox8 {
    width: 500px;
    height: 50px;
    margin: 38px auto 15px auto;
}

.select {
    position: absolute;
    float: left;
    margin: 3px 3px;
}

    .select dt {
        height: 32px;
        display: inline-block;
        border-right: 1px solid #ECECEC;
        background: #ECECEC url(/Images/images/ico.gif) no-repeat 67px center;
        line-height: 28px;
        font-weight: bold;
        padding-left: 10px;
        cursor: pointer;
        width: 62px;
        padding-left: 24px;
        padding-top: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        z-index: 99;
    }

        .select dt:hover,
        .select dt.cur {
        }

    .select dd {
        position: absolute;
        left: -3px;
        top: 35px;
        border: 3px solid #C20201;
        background: #ECECEC;
        display: none;
        z-index: 9000;
        border-top: none;
    }

ul {
    -webkit-padding-start: 0px;
    margin: 0px 10px 0px;
}

.select dd ul {
    width: 62px;
    height: 70px;
    overflow: auto;
    padding: 4px 4px 4px 0 !important;
    display: block;
    z-index: 6000;
}

* + html .select dd {
    height: 70px;
}

    .select dd ul li a {
        line-height: 20px;
        display: block;
        padding: 7px 15px;
        *padding-top: 3px;
    }

        .select dd ul li a:hover {
            background: #f5f5f5;
        }

.search_img {
    background: url(/Images/images/hche_help_img/public_img/search.png)no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    margin-left: 94px;
    margin-top: 14px;
}

.bodys8 input {
    height: 35px;
    line-height: 30px;
    width: 256px;
    padding: 0 5px 0 116px;
    float: left;
    border-radius: 0 !important;
}

.bodys8 p {
    margin: 0 !important;
}

.bodys8 .one {
    border: #c20201 3px solid;
}

.bodys8 .two {
    border: #c20201 3px solid;
}

.bodys8 .one1 {
    background-color: #c20201;
}

.bodys8 .two2 {
    background-color: #c20201;
}

.bodys8 button {
    float: left;
    border: 0;
    height: 41px;
    width: 100px;
    color: #FFF;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    overflow: hidden;
}
/*首页主导航*/

.nav_bg {
    background: #c20201;
    height: 36px;
    width: 100%;
    *+z-index: 1000;
}

.nav_la img {
    width: 20px;
    height: 10px;
    margin-left: 55px;
    *+z-index: 1000;
}

.nav_bg ul {
    margin: 0 !important;
}

    .nav_bg ul li a {
        color: #fff;
        font-size: 15px;
    }

.stores_left {
    width: 10%;
    text-align: center;
}

.stores_slid {
    height: 380px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background: none !important;
}

#stores_slide {
    background: none;
}

#box-163css {
    width: 750px;
    margin: 50px auto 0 auto;
    padding-bottom: 50px;
    text-align: left;
}

.sliderbox {
    width: 230px;
    height: 380px;
    margin: 0 auto;
    overflow: hidden;
}

    .sliderbox dt {
        height: 32px;
        cursor: pointer;
        background: #333 url(/Images/images/newsclosedbg.gif) no-repeat;
        width: 228px;
        border: solid #ededed 1px;
    }

    .sliderbox .open {
        font-size: 13px;
        background: url(/Images/images/newsopenbgtop.gif) no-repeat;
        color: #c20201;
        cursor: default;
        border: solid #ededed 1px;
    }

    .sliderbox .title {
        font-size: 13px;
        color: #c20201;
        padding: 0 0 0 20px;
        line-height: 30px;
    }

    .sliderbox .date {
        font-size: 12px;
        color: #fff;
        float: right;
        display: block;
        padding: 10px 15px 0 0;
    }

    .sliderbox dt:hover span {
        color: #c20201;
    }

    .sliderbox .open:hover span {
        color: #c20201;
    }

    .sliderbox .open:hover .date {
        color: #c20201;
    }

    .sliderbox .n_thumb {
        width: 113px;
        height: 252px;
        float: right;
        padding: 0 0 20px 20px;
    }

    .sliderbox dd {
        overflow: hidden;
        background: #ededed;
        margin: 0;
    }

    .sliderbox .text {
        padding: 10px 40px 8px 40px;
        line-height: 18px;
        font-size: 13px;
    }

.readmoreline {
    display: block;
    text-transform: uppercase;
}

.sliderbox .thumb {
    cursor: pointer;
    margin: 15px 15px 10px 20px;
}

.thumb {
    width: 113px;
    height: 252px;
    background-repeat: no-repeat;
    display: block;
    float: right;
}

.stores_ss {
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background: transparent url("/Images/images/dp_search_bg.gif") repeat scroll 0% 0%;
}

.stores_address {
    height: 650px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.stores_new {
    height: auto;
    display: block;
    width: 100%;
}

.ul-left li {
    line-height: 36px !important;
    height: 36px !important;
    display: inline-block;
    float: left;
    width: 120px;
}

#nav-2015 {
    background: #c20201;
    height: 36px;
    position: relative;
    z-index: 10;
}

#category-2015 {
    width: 220px;
    height: 38px;
    left: 0px;
    top: 0px;
    z-index: 20;
    background: #C20201 none repeat scroll 0% 0%;
    position: relative;
}

    #category-2015 .ld {
        padding-left: 0px;
        font-size: 18px;
        width: 230px;
        height: 24px;
        line-height: 24px;
        margin-top: 5px;
        background: #C20201 none repeat scroll 0% 0%;
        cursor: pointer;
        color: #FFF;
        float: left;
        border-right: solid 1px #fff;
        padding-right: 0px;
    }

        #category-2015 .ld h2 {
            font-size: 14px;
            color: #fff;
            padding-left: 20px;
            color: #fff;
        }

        #category-2015 .ld b {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 10px;
        }

    #category-2015 #allsort {
        display: none;
        width: 230px;
        height: 304px;
        padding: 0;
        position: absolute;
        left: 0;
        top: 36px;
        background-color: #fff;
    }

        #category-2015 #allsort .item {
            width: 230px;
            height: 61px;
            float: left;
        }

            #category-2015 #allsort .item span {
                height: 61px;
                line-height: 28px;
                width: 220px;
                z-index: 30;
            }

                #category-2015 #allsort .item span h3 {
                    width: 230px;
                    text-align: center;
                    position: absolute;
                    font-size: 14px;
                    font-weight: normal;
                    color: #000;
                    margin: 0;
                    height: 61px;
                }

                    #category-2015 #allsort .item span h3 p {
                        height: 12px;
                        width: 100%;
                        display: block;
                        font-size: 12px;
                        text-align: left;
                    }

                    * + html #category-2015 #allsort .item span h3 p {
                        height: 12px;
                        width: 80%;
                        display: block;
                        font-size: 12px;
                        text-align: left;
                    }

                        #category-2015 #allsort .item span h3 p a {
                            font-size: 12px;
                            color: #000000;
                            margin: 0 5px;
                        }

                    * + html #category-2015 #allsort .item span h3 p {
                        height: 12px;
                        width: 60%;
                        display: block;
                        font-size: 12px;
                        text-align: left;
                    }

                        * + html #category-2015 #allsort .item span h3 p a {
                            font-size: 12px;
                            color: #000000;
                            margin: 0 5px;
                        }

                    #category-2015 #allsort .item span h3:hover {
                        background: url(/Images/publicimg/arrow_red.png) no-repeat 195px 22px #ecdac4;
                    }

                    #category-2015 #allsort .item span h3 i {
                        width: 10px;
                        height: auto;
                        margin-right: 75px;
                    }

                    #category-2015 #allsort .item span h3 a {
                        color: #000;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: bold;
                    }

                        #category-2015 #allsort .item span h3 a:hover {
                            color: #c20201;
                            font-weight: bold;
                        }

            #category-2015 #allsort .item .i-mc {
                display: none;
                width: 938px;
                height: 304px;
                background: #ecdac4;
                border: 1px solid #ddd;
                position: absolute;
                left: 230px;
                top: 0;
                z-index: 25;
                opacity: 0.8;
            }

                #category-2015 #allsort .item .i-mc a {
                    color: #000000;
                    line-height: 20px !important;
                    font-size: 14px;
                    min-width: 45px;
                    margin: 5px 5px 0px 5px;
                    height: 20px;
                    display: block;
                    float: left;
                }

                    #category-2015 #allsort .item .i-mc a:hover {
                        color: #C20201;
                    }

        #category-2015 #allsort .on h3 {
            border: solid #fff;
            border-width: 1px 0;
            background: #fff;
            z-index: 40;
        }

    #category-2015.on #allsort {
        display: block;
        background: #fff;
    }

        #category-2015.on #allsort .on .i-mc {
            display: block;
            background: #fff;
        }

.hche_list {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.hche8_left {
    width: 70%;
    height: 300px;
    display: block;
    float: left;
    padding-left: 10px;
    overflow: hidden;
}

    .hche8_left h5 {
        color: #c20201;
        border-bottom: dashed 1px #666;
        margin-top: 5px;
    }

.hche8_right {
    width: 26%;
    height: 300px;
    display: block;
    float: right;
    overflow: hidden;
    margin-right: 10px;
}

.hche8_adlist {
    width: 100%;
    height: 116px;
    display: block;
}

    .hche8_adlist a {
        width: 45% !important;
        height: 38px !important;
        display: block;
        margin: 4px;
        float: left;
        overflow: hidden;
    }

        .hche8_adlist a img {
            width: 100%;
            height: 38px;
        }

.ad_hche8 {
    width: 92%;
    height: auto;
    display: block;
    padding: 10px;
    margin-top: 10px;
}

    .ad_hche8 img {
        width: 100%;
        height: 100%;
        display: block;
    }

.hche8_right h5 {
    color: #c20201;
    border-bottom: dashed 1px #666;
    margin-top: 5px;
}
/*导航图标*/

#allsort b {
    width: 34px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

.ss_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat 0px 10px;
}

.wx_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat -34px 10px;
}

.by_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat 0px -28px;
}

.mr_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat -34px -30px;
}

.gz_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat 0px -64px;
}
/*页面店招*/

.stores_strok {
    height: 110px;
    width: 0 auto;
    display: block;
    background: #bdc0cf;
}

.stores_img {
    width: 1170px;
    margin: 0 auto;
    display: block;
    height: 110px;
}

.stores_tit {
    width: 600px;
    height: 110px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: -110px;
    overflow: hidden;
}

    .stores_tit h3 {
        text-align: center;
        height: 40px;
        width: 600px;
        display: block;
        overflow: hidden;
        margin: auto;
        margin-top: 40px;
    }
/*页面主题部分*/
/*导航图标*/

.nav_limg {
    background: url(/Images/images/buyers/order_icon.png);
    width: 29px;
    height: 23px;
    float: left;
    margin-left: 32px;
    margin-top: 0px;
}
/*左侧导航列表*/

.hche_leftnav {
    font-size: 14px;
    font-family: '微软雅黑';
}

.hche_firstmenu {
    height: 40px;
    background: #F5E8D7 none repeat scroll 0% 0%;
    line-height: 40px;
    border-bottom: none !important;
}

.hche_leftnav ul {
    margin: 0px !important;
}

.hche_firstmenu a {
    color: #C20201;
}

.hche_leftnav ul li a:focus {
    outline: none;
}

.hche_leftnav ul li a:hover {
    color: #C20201;
    cursor: pointer;
}

.hche_leftnav {
    width: 92%;
    margin: 10px 10px 40px;
}

/*右侧内容中心*/

/*订单*/
.buyerright .table_list {
    height: auto;
    width: 100%;
    border: 0px;
    font-family: SimSun;
    margin-bottom: 20px;
    float: left;
}

.table_list {
    margin-top: 10px;
}

.buyerright .table_list ul li {
    float: left;
    margin: 0px;
    border-top: none;
}

.buyerright .table_list a {
    outline: none;
}

.buyerright .table_list .title_list li {
    height: 36px;
}

.buyerright .table_list ul li {
    list-style: none;
    text-align: center;
    height: 34px;
    line-height: 34px;
}

.buyerright .table_list ul .unit_Transaction p {
    margin: 0px;
}

.buyerright .table_list ul .order_product {
    width: 346px;
    border-right: none;
}

.buyerright .table_list ul .unit_price {
    border-right: none;
    border-left: none;
}

.buyerright .table_list ul .unit_payment {
    width: 111px;
    border-right: none;
    border-left: none;
}

    .buyerright .table_list ul .unit_payment p {
        color: #c20201;
    }

.buyerright .table_list ul .unit_Transaction {
    width: 111px;
    border-right: none;
}

.buyerright .table_list ul {
    float: left;
    margin: 0px 9px;
    height: auto;
}

    .buyerright .table_list ul .unit_operation {
        width: 135px;
        border-collapse: collapse;
    }

        .buyerright .table_list ul .unit_operation p {
            height: 30px;
            margin: 0;
        }

    .buyerright .table_list ul .unit_number {
        width: 90px;
        border-left: none;
    }

.title_list_show {
    border: 1px solid #d8d8d8;
    background: #eeeeee;
    width: 902px;
}

.buyerright .table_list ul .cosplay_top_text {
    color: #C20201;
    width: 65%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding-top: 65px;
}

.cosplay_top_most {
    width: 100%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
    padding-top: 65px;
}

.cosplay_top_pay {
    width: 100%;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}

.go_payment {
    background: #c20201 !important;
    color: #fff !important;
}

.buyerright .table_list ul .order_date, .order_num {
    width: 481px;
    text-align: left;
}

.buyerright .table_list input {
    outline: none;
}

.buyerright .table_list ul .order_date input {
    float: left;
    margin: 2px 12px 0px 12px;
}

.buyerright .table_list ul .order_date span {
    display: block;
    float: left;
}

.buyerright .table_list ul .shop_title {
    width: 210px;
    overflow: hidden;
    height: 36px;
}

.buyerright .table_list ul .number_one {
    width: 248px !important;
}

.buyerright .table_list ul .line_img {
    width: 105px !important;
    text-align: left;
}

    .buyerright .table_list ul .line_img span {
        height: 20px;
        display: block;
        width: 70px;
        background: url(/Images/images/Links.gif) no-repeat;
        margin-top: 5px;
        margin-left: 10px;
    }

    .buyerright .table_list ul .line_img em {
        height: 20px;
        display: block;
        width: 23px;
        background: url(/Images/images/hche_help_img/public_img/Location_icon.png) no-repeat;
        float: left;
        margin: 7px 0px 0px 12px;
    }

.pec_text {
    height: 133px;
    width: 920px;
    font-size: 12px;
}

.order_product_show {
    width: 349px !important;
}

.sep-row li {
    height: 10px !important;
}

.ptes li {
    height: 117px !important;
    border: 1px solid #d8d8d8;
    border-collapse: 0px;
    padding-top: 16px;
}

.pets li {
    border: 1px solid #d8d8d8;
    border-collapse: 0px;
    padding-top: 16px;
}

.pec_text .order_image_show {
    float: left;
    margin: 0px 0px 16px 16px;
    width: 100px;
}

.pec_text div {
    height: 100px;
    overflow: hidden;
    width: 224px;
    float: right;
    margin: 3px 1px 17px;
    line-height: 30px;
}

    .pec_text div a {
        height: 87px;
        display: block;
        overflow: hidden;
        float: left;
        text-align: left;
    }

        .pec_text div a .img_cost {
            height: 18px;
            width: 45px;
        }

.pec_text a:hover {
    color: #c20201;
}

.unit_operation .evaluation_gobuy {
    display: block;
    width: 60px;
    height: 24px;
    border: 1px solid #c20201;
    background: #fef5ec;
    margin-left: 18px;
    *margin-left: 0px;
    line-height: 24px;
    border-radius: 2px;
}

.unit_operation .evaluation_show {
    display: block;
    width: 60px;
    height: 24px;
    border: 1px solid #c20201;
    background: #fef5ec;
    margin-left: 38px;
    *margin-left: 0px;
    line-height: 24px;
    border-radius: 2px;
}

.sorts {
    text-align: center;
    height: 50px;
    float: right;
    line-height: 34px;
}

.opertain_show {
    width: 98%;
    height: 48px;
    margin: 8px 0px;
}

/*.zone8_page {
    display: inline-block;
    margin: 0px auto auto;
    line-height: 35px;
    *width:700px;
}
    .zone8_page .hchesortpageupleft {
        *float:left !important;
       *display:block;
    }
        .zone8_page .hche_sortdata {
        *float:left !important;
       *display:block;
    }
              .zone8_page .hche_sortpagedownright {
        *float:left;
       *display:block;
       *clear:none\9;
    }*/

.buyerright .table_list .opertain_text {
    margin-top: 10px;
    margin-bottom: 10px;
    *padding-bottom: 10px;
}

.opertain_show li {
    padding-top: 8px;
    padding-bottom: 6px;
}

.opertain_show .show_textbox {
    width: 200px;
    height: 32px;
}

    .opertain_show .show_textbox .lable {
        margin: 0px 8px 0px 12px;
        float: left;
        height: 30px;
        line-height: 30px;
    }

        .opertain_show .show_textbox .lable .all-selector {
            margin-right: 5px;
            vertical-align: middle;
            outline: none;
            margin-top: 0px;
        }

.opertain_show .delete_show {
    display: block;
    float: left;
    height: 30px;
    width: 102px;
    border: 1px solid #d8d8d8;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background: #fff;
    border-radius: 2px;
    margin-left: 15px;
}

.opertain_show .restore_show {
    display: block;
    float: left;
    height: 30px;
    width: 102px;
    border: 1px solid #d8d8d8;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    background: #fff;
    border-radius: 2px;
    margin-left: 15px;
}

.opertain_show .show_page {
    width: 270px;
    float: right !important;
}

    .opertain_show .show_page a {
        width: 72px;
        height: 30px;
        border: 1px solid #d8d8d8;
        display: block;
        padding-right: 3px;
    }

.oder_num {
    padding: 0px 10px 0px 30px;
    overflow: hidden;
    height: 36px;
}

.opertain_show .show_page em {
    font-style: normal;
    display: block;
    line-height: 30px;
}

.opertain_show .show_page .prev_page {
    float: right;
    margin-left: 7px;
    color: #ccc;
}

    .opertain_show .show_page .prev_page i {
        background: transparent url("/Images/images/page_arrow.png") no-repeat scroll 76% 0%;
        height: 20px;
        width: 15px;
        display: block;
        float: right;
        margin-top: 6px;
    }

.opertain_show .show_page .prev_pageflag {
    float: right;
    margin-left: 7px;
}

    .opertain_show .show_page .prev_pageflag i {
        background: transparent url("/Images/images/page_arrow.png") no-repeat scroll 59% 0%;
        height: 20px;
        width: 15px;
        display: block;
        float: right;
        margin-top: 6px;
    }

.opertain_show .show_page .next_page {
    float: right;
    color: #CCC;
}

    .opertain_show .show_page .next_page i {
        display: block;
        width: 15px;
        height: 20px;
        background: transparent url("/Images/images/page_arrow.png") no-repeat scroll 21% 0%;
        float: left;
        margin-top: 5px;
    }

.opertain_show .show_page .next_pageflag {
    float: right;
}

    .opertain_show .show_page .next_pageflag i {
        display: block;
        width: 15px;
        height: 20px;
        background: transparent url("/Images/images/page_arrow.png") no-repeat scroll 38% 0%;
        float: left;
        margin-top: 5px;
    }

.opertain_show .show_page .pric_page {
    display: block;
    float: right;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 54px;
}

    .opertain_show .show_page .pric_page i {
        font-style: normal;
    }

    .opertain_show .show_page .pric_page .first_page {
        padding-left: 14px;
    }

/*列表*/
#gotopage_btn {
    padding: 0px 4px;
    line-height: 20px;
}

.sore_show {
    float: right !important;
    margin-top: 0px !important;
    margin-right: 5px !important;
}

.layout_product {
    display: block;
    width: 100%;
    overflow: hidden;
}

    .layout_product ul {
        margin: 0px !important;
    }

.product_show {
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

    .product_show .product_list {
        width: 218px;
        height: 290px;
        float: left;
        background: #FFF none repeat scroll 0% 0%;
        display: inline;
        margin: 0px 0px 14px 16px;
        border: 1px solid #b9b9b9;
    }

        .product_show .product_list:hover {
            border: 1px solid #c20201;
        }

        .product_show .product_list .product_img {
            margin: 8px 9px 0px;
            width: 200px;
            height: 200px;
            overflow: hidden;
            text-align: center;
        }

            .product_show .product_list .product_img a:hover {
                text-decoration: none;
            }

            .product_show .product_list .product_img .sale_text_title {
                display: block;
                height: 36px;
                z-index: 1000;
                position: relative;
                background: #fff;
                opacity: 0.7;
                filter: alpha(opacity=70);
                float: left;
                bottom: 36px;
                width: 200px;
                line-height: 36px;
                color: #c20201;
                font-size: 18px;
            }

    .product_show .list_first {
        margin-left: 0px;
    }

.hc_oneFimg {
    width: 456px !important;
    height: 292px !important;
    padding: 0px !important;
}

.hc_oneFli {
    width: 456px !important;
    float: left;
}

.product_list .product_img img {
    border: none;
}

.product_list .price_sale {
    width: 100%;
    height: 30px;
}

    .product_list .price_sale .sale_img {
        width: 43px;
        height: 17px;
        display: block;
        background: url(/Images/autoimg/publicimg/pfj.jpg);
        margin-left: 8px;
        margin-top: 7px;
        float: left;
    }

    .product_list .price_sale .sale_text {
        float: left;
        color: #c20201;
        display: inline;
        padding-left: 5px;
        font-size: 18px;
        line-height: 30px;
    }

.product_list .product_title {
    width: 100%;
    height: 52px;
    line-height: 20px;
    font-size: 12px;
}

.product_list .shop_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    background: #e3e3e3;
}

    .product_list .shop_title .store_shop {
        width: 62%;
        height: 30px;
        display: block;
        float: left;
    }

    .product_list .shop_title .store_shop_img {
        width: 38%;
        height: 30px;
        display: block;
        float: right;
    }

        .product_list .shop_title .store_shop_img em {
            float: left;
            background: url(/Images/images/hche_help_img/public_img/Location_icon.png);
            height: 20px;
            width: 20px;
            margin: 5px 0px 0px 10px;
        }

        .product_list .shop_title .store_shop_img i {
            line-height: 30px;
            font-style: normal;
            float: left;
            text-align: left;
            display: block;
        }

.product_list .product_title .title_text {
    overflow: hidden;
    padding: 5px 10px;
    display: block;
    width: 200px;
    line-height: 22px;
    height: 43px;
    overflow: hidden;
}

.product_list a {
    color: #000000;
    text-decoration: none;
}

    .product_list a:hover {
        color: #c20201;
        text-decoration: underline;
    }

.unit_next_contant {
    width: 100%;
    height: auto;
    float: left;
    margin-bottom: 10px;
}

/*订单*/
.hc_indent {
    width: 908px;
    margin: 15px 5px 0px;
}

    .hc_indent .hc_indentforst {
        height: 38px;
        border-bottom: 2px solid #c20201;
    }

    .hc_indent ul {
        margin-left: 25px;
    }

    .hc_indent .indentretimg {
        background: transparent url("/Images/images/icoo.png") no-repeat scroll 69px 8px;
    }

    .hc_indent .hc_indenths {
        float: right;
        margin-right: 24px;
    }

        .hc_indent .hc_indenths li {
            width: auto;
        }

            .hc_indent .hc_indenths li .font_a {
                color: #5e5e5e;
            }

        .hc_indent .hc_indenths .hc_hsimg {
            background: transparent url("/Images/images/order_icon.png") no-repeat scroll 25px -47px;
            width: 50px;
            height: 35px;
            margin-top: 3px;
        }

    .hc_indent ul li {
        display: block;
        width: 100px;
        float: left;
        font-size: 15px;
        height: 38px;
        line-height: 40px;
    }

        .hc_indent ul li a {
            outline: none;
        }

    .hc_indent .hc_indered {
        color: #c20201;
    }

.hc_seek {
    margin: 16px 5px;
    height: 35px;
}

    .hc_seek .hc_inputsek {
        float: left;
        height: 34px;
    }

    .hc_seek .hc_seekinp {
        width: 282px;
        height: 32px;
        line-height: 30px;
        float: left;
        border-radius: 0px;
        padding: 0px 0px 0px 6px;
    }

    .hc_seek .hc_seekbut {
        float: left;
        border: 1px solid #ccc;
        border-left: none;
        height: 34px;
        width: 86px;
        color: #000;
        text-align: center;
        overflow: hidden;
        background: #eee;
    }

.hc_GJseek {
    width: 210px;
    height: 34px;
    float: left;
    line-height: 32px;
    margin-left: 35px;
}

    .hc_GJseek .hc_seekspan {
        border: 1px solid #ccc;
        text-align: center;
        width: 130px;
        float: left;
        cursor: pointer;
    }

    .hc_GJseek .hc_butsel {
        float: left;
        border: 1px solid #C20201;
        height: 33px;
        width: 60px;
        color: #C20201;
        text-align: center;
        overflow: hidden;
        margin-left: 16px;
        background: #FFF;
        border-radius: 4px;
    }

        .hc_GJseek .hc_butsel:hover {
            background: #C20201;
            color: #FFF;
        }

.seekico {
    background: url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll -12px 4px;
    *background: url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll -12px -1px;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 4px;
}

.seekico_lis {
    background: transparent url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll 5px 5px;
    *background: transparent url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll 5px -1px;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-top: 4px;
}

.hc_XLseek {
    height: 50px;
    width: 908px;
    margin: -5px 9px 0px 9px;
}

.hc_ZTselet .icoemimg {
    background: url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll -22px 4px;
    width: 15px;
    height: 20px;
    float: right;
}

.hc_PJselet .icoemimg {
    background: url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll -21px 3px;
    width: 15px;
    height: 20px;
    float: right;
}

.hc_ZTselet .icodownimg {
    background: transparent url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll -5px 4px;
}

.hc_PJselet .icodownimg {
    background: transparent url("/Images/images/cartimg/Menu_arrow.png") no-repeat scroll -5px 4px;
}

.hc_XLseek .hc_NCinput {
    width: 119px;
    height: 32px;
    border-radius: 0px;
    line-height: 30px;
    padding: 0px 0px 0px 4px;
    margin-top: 5px;
}

.hc_ZTselet {
    position: absolute;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
    height: 35px;
    *margin-left: 0px;
}

    .hc_ZTselet dt {
        height: 29px;
        display: inline-block;
        border: 1px solid #CCC;
        line-height: 23px;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 99;
        width: 113px;
        padding-top: 3px;
        position: relative;
        padding-left: 15px;
        font-weight: 100;
    }

    .hc_ZTselet dd {
        position: absolute;
        left: 0px;
        top: 33px;
        border-right: 1px solid #ECECEC;
        background: #ECECEC none repeat scroll 0% 0%;
        display: none;
        z-index: 9000;
    }

        .hc_ZTselet dd ul {
            width: 128px;
            height: auto;
            z-index: 6000;
            display: block;
            margin: 0px;
            border: 1px solid #ccc;
            overflow: hidden;
            background: #fff;
            padding-bottom: 10px;
        }

            .hc_ZTselet dd ul li {
                width: 129px;
                font-size: 14px;
                line-height: 30px;
                height: 30px;
            }

                .hc_ZTselet dd ul li a {
                    line-height: 20px;
                    display: block;
                    padding: 7px 15px;
                }

.hc_XLseek .hc_SJname {
    width: 210px;
    height: 40px;
    float: left;
    line-height: 40px;
}

.hc_XLseek .hc_JYselest {
    width: 210px;
    height: 40px;
    float: left;
    line-height: 40px;
}

.hc_XLseek .hc_CJteach {
    width: 310px;
    height: 40px;
    float: left;
    line-height: 40px;
}

.hc_XLseek span {
    float: left;
}

.hc_XLseek .hc_PJselest {
    width: 170px;
    height: 40px;
    float: left;
    line-height: 40px;
}
/*pj*/
.hc_PJselet {
    position: absolute;
    float: left;
    margin-left: 70px;
    margin-top: 5px;
    height: 35px;
    *margin-left: 0px;
}

    .hc_PJselet dt {
        height: 29px;
        display: inline-block;
        border: 1px solid #CCC;
        line-height: 23px;
        cursor: pointer;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        z-index: 99;
        width: 81px;
        padding-top: 3px;
        position: relative;
        padding-left: 15px;
        font-weight: 100;
    }

    .hc_PJselet dd {
        position: absolute;
        left: 0px;
        top: 33px;
        border-right: 1px solid #ECECEC;
        background: #ECECEC none repeat scroll 0% 0%;
        display: none;
        z-index: 9000;
    }

        .hc_PJselet dd ul {
            width: 96px;
            height: auto;
            z-index: 6000;
            display: block;
            margin: 0px;
            border: 1px solid #ccc;
            overflow: hidden;
            background: #FFF;
            padding-bottom: 10px;
        }

            .hc_PJselet dd ul li {
                width: 99px;
                font-size: 14px;
                line-height: 30px;
                height: 30px;
            }

                .hc_PJselet dd ul li a {
                    line-height: 20px;
                    display: block;
                    padding: 7px 15px;
                }
/*日期选择*/
input {
    width: 100px;
    height: 32px;
    border-radius: 0px;
    line-height: 30px;
    padding: 0px 0px 0px 4px;
}

.calender {
    width: 255px;
    margin: 50px auto;
    top: 0;
    left: 0;
    border: 1px #ccc solid;
    background: #fff;
    position: absolute;
    display: none;
    z-index: 999;
}

.calendertb {
    width: 100%;
}

    .calendertb td {
        width: 35px;
        height: 35px;
        border: 1px #CCCCCC solid;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
    }

        .calendertb td.hover, .calendertb td.weekendhover {
            background: #D6D6D6;
        }

    .calendertb th {
        width: 35px;
        height: 30px;
        border: 1px #CCCCCC solid;
        text-align: center;
        vertical-align: middle;
        cursor: pointer;
        color: #979797;
    }

.tdtoday {
    background: #0080FF;
    color: #fff;
    width: 35px;
    height: 35px;
    border: 1px #CCCCCC solid;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}

.getyear {
    height: 35px;
    line-height: 35px;
    width: 100%;
    text-align: center;
}

.preMonth {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 5px;
    color: #0080FF;
}

.nextMonth {
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    color: #0080FF;
}

.hc_CJteach .mh_date {
    width: 100px;
    height: 32px;
    border-radius: 0px;
    line-height: 30px;
    padding: 0px 0px 0px 4px;
    margin-top: 5px;
    cursor: pointer;
    background: url("/Images/images/buyers/order_icon.png") no-repeat scroll 77px center;
}

.zhezhao {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 998;
    background: #fff;
    filter: alpha(opacity=10);
    opacity: 0.1;
    display: none;
}

.getyear select {
    width: auto;
}