/*附件样式组*/
body {
    background: url('/Images/publicimg/bg.png') repeat;
}

a {
    color: #000000;
}

.w8 {
    min-height: 702px;
    width: 100%;
    display: block;
    margin: 0 0 17px 0;
}

.hc_clear {
    display: inline-block;
    height: 40px;
    width: auto;
}

.ul-left {
    width: 81%;
}

.hc_floor {
    margin-top: 0px;
    height: 30px;
    margin-bottom: 13px;
    border-bottom: 4px solid #C20201;
}

.hche_hf {
    height: 120px;
    width: 100%;
    display: block;
}

* + html .hche_hf {
    height: 120px;
    width: 100%;
    display: block;
}

.hche_f8left {
    height: 598px;
    width: 230px;
    display: block;
    float: left;
    margin-bottom: 13px;
}

.hche_f8right {
    height: 598px;
    width: 927px;
    display: block;
    float: right;
    margin-bottom: 13px;
}

body {
    background: #fff;
}

.grey {
    background: #ececec;
}

.hchebg_write {
    background: #fff;
}

.hchebg_grey {
    background: #CCCFD6;
}
/*logo。搜索部分背景*/

.hche_head_bg {
    background: url(/Images/images/hche_help_img/public_img/logo_bg.jpg) center no-repeat #CCCFD6;
    height: 114px;
    width: 100%;
    margin-top: -3px;
    margin-bottom: -4px;
    display: inline-block;
    float: none;
}
/*首页logo部分*/
.logo {
    background: url('/Images/autoimg/publicimg/logo.png') no-repeat;
    height: 60px;
    width: 198px;
    display: block;
    margin-top: 40px;
    margin-bottom: 20px;
}

/*全局搜索样式*/
.searchbox {
    width: 520px;
    height: 80px;
    margin: 25px auto 15px auto;
}

    .searchbox ul {
        height: 30px;
        width: 500px;
        list-style: none;
        margin: 0 !important;
    }

        .searchbox ul li {
            float: left;
        }

            .searchbox ul li a {
                float: left;
                line-height: 30px;
                padding: 0 20px;
                text-decoration: none;
                color: #000;
                font-size: 14px;
                font-weight: bold;
            }

            .searchbox ul li .style1 {
                background-color: #c20201;
                color: #fff;
            }

            .searchbox ul li .style2 {
                background-color: #c20201;
                color: #fff;
            }

.bodys input {
    height: 38px;
    line-height: 30px;
    width: 390px;
    padding: 0 10px;
    float: left;
    border-radius: 0 !important;
}

.bodys p {
    margin: 0 !important;
}

.bodys .one {
    border: #c20201 3px solid;
}

.bodys .two {
    border: #c20201 3px solid;
}

.bodys .one1 {
    background-color: #c20201;
}

.bodys .two2 {
    background-color: #c20201;
}

.bodys button {
    float: left;
    border: 0;
    height: 44px;
    width: 100px;
    color: #FFF;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    overflow: hidden;
}

/*首页微信部分*/
.weixin {
    background: url('/Images/autoimg/otherimg/erwm.png') no-repeat;
    height:118px;
    width: 100px;
    display: block;
    margin-top:18px;
    margin-bottom: 20px;
}
/*车型车系样式*/

.hche_cx {
    height: 78px;
    width: 296px;
    display: block;
    margin-top: 30px;
}

.hche_cp {
    height: 60px;
    width: 60px;
    display: block;
    float: left;
    background: url(/Images/images/hche_help_img/public_img/my-auto.png) no-repeat;
}

.hche_cr {
    height: 60px;
    width: 230px;
    display: block;
    float: left;
}

@charset "utf-8";

body {
    _margin: 0;
    _height: 100%;
}

.aui_outer {
    text-align: left;
}

#show_car {
    position: fixed;
    width: auto;
    left: 248px;
    top: 120px;
    z-index: 19000;
}

* + html #show_car {
    position: fixed;
    width: auto;
    left: 248px;
    top: 120px;
    *z-index: 6000;
}

table.aui_border,
table.aui_dialog {
    border: 0;
    margin: 0;
    border-collapse: collapse;
    width: auto;
}

.aui_nw,
.aui_n,
.aui_ne,
.aui_w,
.aui_c,
.aui_e,
.aui_sw,
.aui_s,
.aui_se,
.aui_header,
.aui_tdIcon,
.aui_main,
.aui_footer {
    padding: 0;
}

.aui_header,
.aui_buttons button {
    font: 12px/1.11 'Microsoft Yahei', Tahoma, Arial, Helvetica, STHeiti;
    _font-family: Tahoma, Arial, Helvetica, STHeiti;
    -o-font-family: Tahoma, Arial;
}

.aui_title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.aui_state_noTitle .aui_title {
    display: none;
}

.aui_close {
    display: block;
    position: absolute;
    text-decoration: none;
    outline: none;
    _cursor: pointer;
}

    .aui_close:hover {
        text-decoration: none;
    }

.aui_main {
    text-align: center;
    min-width: 9em;
    min-width: 0\9
    /*IE8 BUG*/
    ;
}

.aui_content {
    display: inline-block;
    *zoom: 1;
    *display: inline;
    text-align: left;
    border: none 0;
}

    .aui_content.aui_state_full {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0 !important;
        height: 100%;
    }

.aui_loading {
    width: 96px;
    height: 32px;
    text-align: left;
    text-indent: -999em;
    overflow: hidden;
    background: url(icons/loading.gif) no-repeat center center;
}

.aui_icon {
    vertical-align: middle;
}

    .aui_icon div {
        width: 48px;
        height: 48px;
        margin: 10px 0 10px 10px;
        background-position: center center;
        background-repeat: no-repeat;
    }

.aui_buttons {
    padding: 8px;
    text-align: right;
    white-space: nowrap;
}

    .aui_buttons button {
        margin-left: 15px;
        padding: 6px 8px;
        cursor: pointer;
        display: inline-block;
        text-align: center;
        line-height: 1;
        *padding: 4px 10px;
        *height: 2em;
        letter-spacing: 2px;
        font-family: Tahoma, Arial/9 !important;
        width: auto;
        overflow: visible;
        *width: 1;
        color: #333;
        border: solid 1px #999;
        border-radius: 5px;
        background: #DDD;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DDDDDD');
        background: linear-gradient(top, #FFF, #DDD);
        background: -moz-linear-gradient(top, #FFF, #DDD);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFF), to(#DDD));
        text-shadow: 0px 1px 1px rgba(255, 255, 255, 1);
        box-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0 -1px 0 rgba(0, 0, 0, .09);
        -moz-transition: -moz-box-shadow linear .2s;
        -webkit-transition: -webkit-box-shadow linear .2s;
        transition: box-shadow linear .2s;
    }

        .aui_buttons button::-moz-focus-inner {
            border: 0;
            padding: 0;
            margin: 0;
        }

        .aui_buttons button:focus {
            outline: none 0;
            border-color: #426DC9;
            box-shadow: 0 0 8px rgba(66, 109, 201, .9);
        }

        .aui_buttons button:hover {
            color: #000;
            border-color: #666;
        }

        .aui_buttons button:active {
            border-color: #666;
            filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#DDDDDD', endColorstr='#FFFFFF');
            background: linear-gradient(top, #DDD, #FFF);
            background: -moz-linear-gradient(top, #DDD, #FFF);
            background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DDD), to(#FFF));
            box-shadow: inset 0 1px 5px rgba(66, 109, 201, .9), inset 0 1px 1em rgba(0, 0, 0, .3);
        }

        .aui_buttons button[disabled] {
            cursor: default;
            color: #666;
            background: #DDD;
            border: solid 1px #999;
            filter: alpha(opacity=50);
            opacity: .5;
            box-shadow: none;
        }

button.aui_state_highlight {
    color: #FFF;
    border: solid 1px #1c6a9e;
    background: #2288cc;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
    background: linear-gradient(top, #33bbee, #2288cc);
    background: -moz-linear-gradient(top, #33bbee, #2288cc);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
    text-shadow: -1px -1px 1px #1c6a9e;
}

    button.aui_state_highlight:hover {
        color: #FFF;
        border-color: #0F3A56;
    }

    button.aui_state_highlight:active {
        border-color: #1c6a9e;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#33bbee', endColorstr='#2288cc');
        background: linear-gradient(top, #33bbee, #2288cc);
        background: -moz-linear-gradient(top, #33bbee, #2288cc);
        background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#33bbee), to(#2288cc));
    }
/* common end */

.aui_inner {
    background: #FFF;
}

.aui_outer,
.aui_inner {
    border: 1px solid rgba(0, 0, 0, .7);
    border: 1px solid #333\9;
}

.aui_border {
    box-shadow: inset 0 0 1px rgba(255, 255, 255, .9);
}

.aui_nw,
.aui_ne,
.aui_sw,
.aui_se {
    width: 8px;
    height: 8px;
}

.aui_nw,
.aui_n,
.aui_ne,
.aui_w,
.aui_e,
.aui_sw,
.aui_s,
.aui_se {
    background: rgba(0, 0, 0, .4);
    filter: progid: DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr= '#80000000', endColorstr= '#80000000')\9;
}

.aui_state_lock .aui_nw,
.aui_state_lock .aui_n,
.aui_state_lock .aui_ne,
.aui_state_lock .aui_w,
.aui_state_lock .aui_e,
.aui_state_lock .aui_sw,
.aui_state_lock .aui_s,
.aui_state_lock .aui_se {
    background: rgba(0, 0, 0, .4);
    filter: progid: DXImageTransform.Microsoft.Gradient(gradientType=1, startColorStr='#80000000', endColorStr='#80000000')\9;
}

.aui_state_focus .aui_dialog {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
}

.aui_state_focus .aui_outer {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.aui_state_lock .aui_border {
    box-shadow: 0 3px 26px rgba(0, 0, 0, .9);
}

.aui_state_drag .aui_outer,
.aui_outer:active {
    box-shadow: none;
}

.aui_titleBar {
    position: relative;
    height: 100%;
}

.aui_title {
    height: 28px;
    line-height: 27px;
    padding: 0 28px 0 10px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .7);
    background-color: #edf5f8;
    font-weight: bold;
    color: #95a7ae;
    font-family: Tahoma, Arial/9 !important;
    background-color: #bdc6cd;
    background: linear-gradient(top, #edf5f8, #bdc6cd);
    background: -moz-linear-gradient(top, #edf5f8, #bdc6cd);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#edf5f8), to(#bdc6cd));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#edf5f8', endColorstr='#bdc6cd');
    border-top: 1px solid #edf5f8;
    border-bottom: 1px solid #b6bec5;
}

.aui_state_focus .aui_title {
    color: #4c5a5f;
}

.aui_state_drag .aui_title {
    background: linear-gradient(top, #bdc6cd, #edf5f8);
    background: -moz-linear-gradient(top, #bdc6cd, #edf5f8);
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bdc6cd), to(#edf5f8));
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#bdc6cd', endColorstr='#edf5f8');
    box-shadow: none;
}

.aui_state_drag .aui_titleBar {
    box-shadow: none;
}

.aui_close {
    padding: 0;
    top: 4px;
    right: 4px;
    width: 21px;
    height: 21px;
    line-height: 21px;
    font-size: 18px;
    color: #68767b;
    text-align: center;
    font-family: Helvetica, STHeiti;
    _font-family: Tahoma, '\u9ed1\u4f53', 'Book Antiqua', Palatino;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .9);
}

    .aui_close:hover {
        background: #C72015;
        color: #FFF;
    }

    .aui_close:active {
        box-shadow: none;
    }

.aui_content {
    color: #333;
}

.aui_buttons {
    background-color: #F6F6F6;
    border-top: solid 1px #DADEE5;
}

.aui_state_noTitle .aui_nw,
.aui_state_noTitle .aui_ne,
.aui_state_noTitle .aui_sw,
.aui_state_noTitle .aui_se {
    width: 3px;
    height: 3px;
}

.aui_state_noTitle .aui_inner {
    border: 1px solid #666;
    background: #FFF;
}

.aui_state_noTitle .aui_outer {
    border: none 0;
    box-shadow: none;
}

.aui_state_noTitle .aui_nw,
.aui_state_noTitle .aui_n,
.aui_state_noTitle .aui_ne,
.aui_state_noTitle .aui_w,
.aui_state_noTitle .aui_e,
.aui_state_noTitle .aui_sw,
.aui_state_noTitle .aui_s,
.aui_state_noTitle .aui_se {
    background: rgba(0, 0, 0, .05);
    background: #000\9 !important;
    filter: alpha(opacity=5) !important;
}

.aui_state_noTitle .aui_titleBar {
    bottom: 0;
    _bottom: 0;
    _margin-top: 0;
}

.aui_state_noTitle .aui_close {
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-indent: 0;
    font-size: 18px;
    text-decoration: none;
    color: #214FA3;
    background: none;
    filter: !important;
}

    .aui_state_noTitle .aui_close:hover,
    .aui_state_noTitle .aui_close:active {
        text-decoration: none;
        color: #900;
    }

.aui_state_noTitle .aui_dialog {
    box-shadow: none;
}

.aui_state_noTitle .aui_nw,
.aui_state_noTitle .aui_n,
.aui_state_noTitle .aui_ne,
.aui_state_noTitle .aui_w,
.aui_state_noTitle .aui_e,
.aui_state_noTitle .aui_sw,
.aui_state_noTitle .aui_s,
.aui_state_noTitle .aui_se {
    background: rgba(0, 0, 0, .05);
    background: #000\9 !important;
    filter: alpha(opacity=5) !important;
}

.aui_state_noTitle .aui_titleBar {
    bottom: 0;
    _bottom: 0;
    _margin-top: 0;
}

.aui_state_noTitle .aui_close {
    top: 0;
    right: 0;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    text-indent: 0;
    font-size: 18px;
    text-decoration: none;
    color: #214FA3;
    background: none;
    filter: !important;
}

    .aui_state_noTitle .aui_close:hover,
    .aui_state_noTitle .aui_close:active {
        text-decoration: none;
        color: #900;
    }

.aui_state_noTitle .aui_dialog {
    box-shadow: none;
}

@charset "utf-8";
/* * 车型弹出(单选) * */

.mod_pop_car {
    display: none;
    width: 810px;
    height: 260px;
    overflow: hidden;
}

.mod_car_menu {
    padding: 30px 15px 20px;
}

    .mod_car_menu ul li {
        list-style-type: none;
    }

    .mod_car_menu .hover {
        border-color: #c20201;
        background: #c20201;
        color: #fff;
    }

        .mod_car_menu .hover .ico {
            background-position: 0 -37px;
        }

        .mod_car_menu .hover .num {
            background-position: 0 -74px;
            color: #c20201;
        }
/*.mod_car_menu .start_arrow{ display:block; width:11px; height:7px; line-height:0; overflow:hidden; background-position:0 -142px;}*/

.mod_car_seled {
    line-height: 30px;
    margin: 0 15px 20px;
}

    .mod_car_seled .item {
        float: left;
        position: relative;
        margin-right: 20px;
        border: solid 1px #c20201;
        border-radius: 2px;
        background: #ffebdc;
        color: #c20201;
    }

        .mod_car_seled .item .name {
            display: block;
            width: 90px;
            height: 28px;
            line-height: 28px;
            padding: 0 10px;
            overflow: hidden;
        }

    .mod_car_seled .del {
        position: absolute;
        right: -7px;
        top: -7px;
        display: block;
        width: 15px;
        height: 15px;
        line-height: 100px;
        overflow: hidden;
        background-position: 0 -127px;
        cursor: pointer;
    }

.mod_pop_car_close {
    position: absolute;
    z-index: 21;
    right: -19px;
    top: -15px;
    width: 37px;
    height: 28px;
    overflow: hidden;
    background-position: 0 -149px;
}

.sel_list {
    width: 770px;
    height: 90px;
    overflow: hidden;
    border: solid 1px #e7e7e7;
    padding: 20px 10px;
    margin: 0 10px;
    background: #fff;
    box-shadow: 1px 1px 1px 0px #E2E2E2;
}

.mod_pop_car .type,
.mod_pop_car .style {
    max-height: 220px;
    _height: 220px;
    overflow: auto;
    overflow-x: hidden;
}

    .mod_pop_car .type .name,
    .mod_pop_car .style .year {
        height: 30px;
        line-height: 30px;
        margin-bottom: 5px;
        background-position: 0 -187px;
        text-indent: 15px;
        color: #333;
    }

    .mod_pop_car .type .year {
        float: left;
        width: 90px;
        height: 26px;
        line-height: 26px;
        margin: 0 20px 10px 0;
        overflow: hidden;
        border: solid 1px #ccc;
        border-radius: 3px;
        text-align: center;
    }

        .mod_pop_car .type .year:hover {
            border-color: #c20201;
        }

    .mod_pop_car .style .name {
        float: left;
        width: 300px;
        height: 26px;
        line-height: 26px;
        margin: 0 10px 10px 0;
        padding: 0 10px;
        overflow: hidden;
        border: solid 1px #ccc;
        border-radius: 3px;
    }

.car_cata_meuns {
    position: relative;
    z-index: 2;
    height: 30px;
    line-height: 30px;
    margin: 0 270px;
}

.hc_nav {
    width: 180px;
    height: 35px;
    margin: 20px 35px;
    float: left;
}

    .hc_nav p {
        display: block;
        padding-left: 10px;
        line-height: 30px;
        border: 1px solid #CACACA;
        margin: 0px;
        color: #C20201;
        font-size: 15px;
    }

.hc_set {
    background: transparent url("/Images/publicimg/xla.png") no-repeat scroll 148px -2px;
}

.hc_new {
    width: 178px;
    position: absolute;
    border: 1px solid #CACACA;
    display: none;
    margin: 0px;
    z-index: 1000;
    min-height: 30px;
    overflow-y: auto;
    max-height: 235px;
}

.hc_nav ul li {
    line-height: 30px;
    padding-left: 10px;
    background: #F0F0F0 none repeat scroll 0% 0%;
}

    .hc_nav ul li:hover {
        background: #CCC none repeat scroll 0% 0%;
        color: #FFF;
    }

.car_cata_meuns .inner {
    position: absolute;
    bottom: -1px;
    left: 0;
}

.car_cata_meuns .item {
    float: left;
    padding: 0 20px;
    margin-right: 10px;
    border: solid 1px #ddd;
    background: #eee;
}

.car_cata_meuns .hover {
    border-bottom-color: #fff;
    background: #fff;
    font-weight: 700;
    color: #c20201;
}

.car_cata_meuns .item:hover {
    text-decoration: none;
}

.mod_pop_car .disabled_car,
.mod_pop_car .disabled_car:hover {
    color: #9C9C9C;
    border-color: #ddd !important;
    background: #f8f8f8;
    cursor: not-allowed;
}

.loading_car_tip {
    padding: 20px;
    color: #9c9c9c;
    text-align: center;
}
/* * 车型弹出(多选) * */

.multiple_car {
    display: none;
    line-height: 22px;
}
    /* 重置行高 */

    .multiple_car .car_cata_meuns {
        margin-left: 0;
    }

    .multiple_car .col_l,
    .multiple_car .col_r {
        position: relative;
        float: left;
        width: 250px;
        overflow: hidden;
        border: solid 1px #ddd;
        padding: 5px 10px;
        margin-right: 20px;
    }

    .multiple_car .brand {
        height: 300px;
        overflow: auto;
        overflow-x: hidden;
    }

    .multiple_car s {
        margin-right: 5px;
        color: #999;
        text-decoration: none;
    }

    .multiple_car .letter {
        line-height: normal;
        padding: 5px 0;
        overflow: hidden;
        zoom: 1;
    }

        .multiple_car .letter b {
            color: #666;
        }

        .multiple_car .letter b {
            line-height: 16px;
            padding: 0 4px;
            float: left;
            cursor: pointer;
            font-weight: normal;
        }

        .multiple_car .letter .hover {
            background: #c20201;
            color: #fff;
        }

    .multiple_car .col_l label {
        float: left;
    }

    .multiple_car .toggle_btn {
        float: left;
        width: 16px;
        height: 16px;
        overflow: hidden;
        margin-top: 2px;
        cursor: pointer;
    }

    .multiple_car .hover .toggle_btn {
        background-position: 0 -37px;
    }

    .multiple_car .brand_items {
        padding-left: 17px;
    }

    .multiple_car .it_sub input {
        float: left;
        margin-top: 3px;
    }

    .multiple_car .it_sub {
        width: 100%;
        overflow: hidden;
    }
    /* 已选择 */

    .multiple_car .col_r .md {
        height: 315px;
        overflow: auto;
    }
    /* height = .multiple_car .col_lMd + 15 */

    .multiple_car .col_r .hd {
        padding-bottom: 5px;
    }

    .multiple_car .clear_car {
        float: right;
        color: #c20201;
        cursor: pointer;
    }

    .multiple_car .selected_count {
        margin: 0 3px;
        color: #c20201;
    }

    .multiple_car .col_r .item {
        height: 24px;
        line-height: 24px;
        border-bottom: solid 1px #eee;
        overflow: hidden;
    }

    .multiple_car .del {
        padding: 0 5px;
        float: right;
        color: #c20201;
        font-weight: 700;
        font-family: "Comic Sans MS", cursive;
        cursor: pointer;
    }
/*全局搜索样式*/

* + html .hche6 {
    width: 49%;
}

.searchbox8 {
    width: 500px;
    height: 50px;
    margin: 38px auto 15px auto;
}

.select {
    position: absolute;
    float: left;
    margin: 3px 3px;
}

    .select dt {
        height: 32px;
        display: inline-block;
        border-right: 1px solid #ECECEC;
        background: #ECECEC url(/Images/images/ico.gif) no-repeat 67px center;
        line-height: 28px;
        font-weight: bold;
        padding-left: 10px;
        cursor: pointer;
        width: 62px;
        padding-left: 24px;
        padding-top: 3px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        position: relative;
        z-index: 99;
    }

        .select dt:hover,
        .select dt.cur {
        }

    .select dd {
        position: absolute;
        left: -3px;
        top: 35px;
        background: #ECECEC none repeat scroll 0% 0%;
        display: none;
        z-index: 9000;
        border: 3px solid #C20201;
        border-top: none;
    }

ul {
    -webkit-padding-start: 0px;
    margin: 0px 10px 0px;
}

.select dd ul {
    width: 62px;
    height: 70px;
    overflow: auto;
    padding: 4px 4px 4px 0 !important;
    display: block;
    z-index: 6000;
}

* + html .select dd {
    height: 70px;
}

    .select dd ul li a {
        line-height: 20px;
        display: block;
        padding: 7px 15px;
    }

        .select dd ul li a:hover {
            background: #f5f5f5;
        }

.search_img {
    background: url(/Images/images/hche_help_img/public_img/search.png)no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    display: block;
    margin-left: 94px;
    margin-top: 14px;
}

.bodys8 input {
    height: 35px;
    line-height: 30px;
    width: 256px;
    padding: 0 5px 0 116px;
    float: left;
    border-radius: 0 !important;
}

.bodys8 p {
    margin: 0 !important;
}

.bodys8 .one {
    border: #c20201 3px solid;
}

.bodys8 .two {
    border: #c20201 3px solid;
}

.bodys8 .one1 {
    background-color: #c20201;
}

.bodys8 .two2 {
    background-color: #c20201;
}

.bodys8 button {
    float: left;
    border: 0;
    height: 41px;
    width: 100px;
    color: #FFF;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    overflow: hidden;
}
/*首页主导航*/

.nav_bg {
    background: #c20201;
    height: 36px;
    width: 100%;
    *+z-index: 1000;
}

.nav_la img {
    width: 20px;
    height: 10px;
    margin-left: 55px;
    *+z-index: 1000;
}

.nav_bg ul {
    margin: 0 !important;
}

    .nav_bg ul li a {
        color: #fff;
        font-size: 15px;
    }

.stores_left {
    width: 10%;
    text-align: center;
}

.stores_slid {
    height: 380px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
    background: none !important;
}

#stores_slide {
    background: none;
}

#box-163css {
    width: 750px;
    margin: 50px auto 0 auto;
    clear: both;
    padding-bottom: 50px;
    text-align: left;
}

.sliderbox {
    width: 230px;
    height: 380px;
    margin: 0 auto;
    overflow: hidden;
}

    .sliderbox dt {
        height: 32px;
        cursor: pointer;
        background: #333 url(/Images/images/newsclosedbg.gif) no-repeat;
        width: 228px;
        border: solid #ededed 1px;
    }

    .sliderbox .open {
        font-size: 13px;
        background: url(/Images/images/newsopenbgtop.gif) no-repeat;
        color: #c20201;
        cursor: default;
        border: solid #ededed 1px;
    }

    .sliderbox .title {
        font-size: 13px;
        color: #c20201;
        padding: 0 0 0 20px;
        line-height: 30px;
    }

    .sliderbox .date {
        font-size: 12px;
        color: #fff;
        float: right;
        display: block;
        padding: 10px 15px 0 0;
    }

    .sliderbox dt:hover span {
        color: #c20201;
    }

    .sliderbox .open:hover span {
        color: #c20201;
    }

    .sliderbox .open:hover .date {
        color: #c20201;
    }

    .sliderbox .n_thumb {
        width: 113px;
        height: 252px;
        float: right;
        padding: 0 0 20px 20px;
    }

    .sliderbox dd {
        overflow: hidden;
        background: #ededed;
        margin: 0;
    }

    .sliderbox .text {
        padding: 10px 40px 8px 40px;
        line-height: 18px;
        font-size: 13px;
    }

.readmoreline {
    display: block;
    text-transform: uppercase;
}

.sliderbox .thumb {
    cursor: pointer;
    margin: 15px 15px 10px 20px;
}

.thumb {
    width: 113px;
    height: 252px;
    background-repeat: no-repeat;
    display: block;
    float: right;
}

.stores_ss {
    height: 100px;
    margin-bottom: 10px;
}

.stores_address {
    height: 598px;
    width: 100%;
    display: block;
    margin-bottom: 10px;
}

.stores_new {
    height: 412px;
    display: block;
    width: 100%;
}

.stores_left a:hover {
    color: #000;
    width: 90px;
    height: 36px;
    display: block;
    background: #fff;
    margin-left: 5px;
}

.ul-left li {
    line-height: 36px !important;
    height: 36px !important;
}

#nav-2015 {
    padding-left: 220px;
    background: #c20201;
    height: 36px;
    position: relative;
    z-index: 10;
}

#category-2015 {
    width: 220px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 20;
    background: #c20201;
}

    #category-2015 .ld {
        padding-left: 47px;
        font-size: 15px;
        position: relative;
        width: 220px;
        height: 36px;
        line-height: 36px;
        background: #c20201;
        cursor: pointer;
        color: #fff;
    }

        #category-2015 .ld h2 {
            font-size: 14px;
            color: #fff;
            padding-left: 20px;
            color: #fff;
        }

        #category-2015 .ld b {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 10px;
            top: 10px;
        }

    #category-2015 #allsort {
        display: none;
        width: 230px;
        height: 304px;
        padding: 0;
        position: absolute;
        left: 0;
        top: 36px;
        background-color: #fff;
    }

        #category-2015 #allsort .item {
            width: 230px;
            height: 61px;
            float: left;
        }

            #category-2015 #allsort .item span {
                height: 61px;
                line-height: 28px;
                width: 220px;
                z-index: 30;
            }

                #category-2015 #allsort .item span h3 {
                    width: 230px;
                    text-align: center;
                    position: absolute;
                    font-size: 14px;
                    font-weight: normal;
                    color: #000;
                    margin: 0;
                    height: 61px;
                }

                    #category-2015 #allsort .item span h3 p {
                        height: 12px;
                        width: 100%;
                        display: block;
                        font-size: 12px;
                        text-align: left;
                    }

                    * + html #category-2015 #allsort .item span h3 p {
                        height: 12px;
                        width: 80%;
                        display: block;
                        font-size: 12px;
                        text-align: left;
                    }

                        #category-2015 #allsort .item span h3 p a {
                            font-size: 12px;
                            color: #000000;
                            margin: 0 5px;
                        }

                    * + html #category-2015 #allsort .item span h3 p {
                        height: 12px;
                        width: 60%;
                        display: block;
                        font-size: 12px;
                        text-align: left;
                    }

                        * + html #category-2015 #allsort .item span h3 p a {
                            font-size: 12px;
                            color: #000000;
                            margin: 0 5px;
                        }

                    #category-2015 #allsort .item span h3:hover {
                        background: url(/Images/publicimg/arrow_red.png) no-repeat 195px 22px #ecdac4;
                    }

                    #category-2015 #allsort .item span h3 i {
                        width: 10px;
                        height: auto;
                        margin-right: 75px;
                    }

                    #category-2015 #allsort .item span h3 a {
                        color: #000;
                        text-decoration: none;
                        font-size: 14px;
                        font-weight: bold;
                    }

                        #category-2015 #allsort .item span h3 a:hover {
                            color: #c20201;
                            font-weight: bold;
                        }

            #category-2015 #allsort .item .i-mc {
                display: none;
                width: 938px;
                height: 304px;
                background: #ecdac4;
                border: 1px solid #ddd;
                position: absolute;
                left: 230px;
                top: 0;
                z-index: 25;
                opacity: 0.8;
            }

                #category-2015 #allsort .item .i-mc a {
                    color: #000000;
                    line-height: 20px !important;
                    font-size: 14px;
                    min-width: 45px;
                    margin: 5px 5px 0px 5px;
                    height: 20px;
                    display: block;
                    float: left;
                }

                    #category-2015 #allsort .item .i-mc a:hover {
                        color: #C20201;
                    }

        #category-2015 #allsort .on h3 {
            border: solid #fff;
            border-width: 1px 0;
            background: #fff;
            z-index: 40;
        }

    #category-2015.on #allsort {
        display: block;
        background: #fff;
    }

        #category-2015.on #allsort .on .i-mc {
            display: block;
            background: #fff;
        }

.hche_list {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

.hche8_left {
    width: 70%;
    height: 300px;
    display: block;
    float: left;
    padding-left: 10px;
    overflow: hidden;
}

    .hche8_left h5 {
        color: #c20201;
        border-bottom: dashed 1px #666;
        margin-top: 5px;
    }

.hche8_right {
    width: 26%;
    height: 300px;
    display: block;
    float: right;
    overflow: hidden;
    margin-right: 10px;
}

.hche8_adlist {
    width: 100%;
    height: 116px;
    display: block;
}

    .hche8_adlist a {
        width: 45% !important;
        height: 38px !important;
        display: block;
        margin: 4px;
        float: left;
        overflow: hidden;
    }

        .hche8_adlist a img {
            width: 100%;
            height: 38px;
        }

.ad_hche8 {
    width: 92%;
    height: auto;
    display: block;
    padding: 10px;
    margin-top: 10px;
}

    .ad_hche8 img {
        width: 100%;
        height: 100%;
        display: block;
    }

.hche8_right h5 {
    color: #c20201;
    border-bottom: dashed 1px #666;
    margin-top: 5px;
}
/*导航图标*/

#allsort b {
    width: 34px;
    height: 38px;
    display: block;
    float: left;
    margin-left: 20px;
    margin-top: 5px;
    margin-right: 10px;
}

.ss_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat 0px 10px;
}

.wx_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat -34px 10px;
}

.by_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat 0px -28px;
}

.mr_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat -34px -30px;
}

.gz_ico {
    background: url(/Images/images/hche_help_img/public_img/nav_menu_icon.png) no-repeat 0px -64px;
}
/*页面店招*/

.stores_strok {
    height: 110px;
    width: 0 auto;
    display: block;
    background: #bdc0cf;
}

.stores_img {
    width: 1170px;
    margin: 0 auto;
    display: block;
    height: 110px;
}

.stores_tit {
    width: 600px;
    height: 110px;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: -110px;
    overflow: hidden;
}

    .stores_tit h3 {
        text-align: center;
        height: 40px;
        width: 600px;
        display: block;
        overflow: hidden;
        margin: auto;
        margin-top: 40px;
    }
/*页面主题部分*/

/*footer*/

.hche-footer {
    padding: 0 !important;
    width: 100%;
    height: auto;
    display: inline-block;
}

.foot_list {
    list-style-type: none;
    padding-top: 40px;
    height: 200px;
}

    .foot_list li {
        width: 20%;
        float: left;
        height: auto;
        display: block;
        text-align: center;
    }

        .foot_list li h4 {
            color: #c20201;
            height: 30px;
            margin: auto;
            width: 60%;
            font-weight: 100;
            border-bottom: dotted 1px #999;
        }

.foot_sflist {
    list-style-type: none;
}

    .foot_sflist ul {
        margin: 0 !important;
    }

    .foot_sflist li {
        padding-top: 6px;
        height: 30px;
        width: 100%;
        text-align: center;
    }

        .foot_sflist li a {
            color: #000;
        }

            .foot_sflist li a:hover {
                color: #c20201;
            }
/*列表*/

.layout_product {
    display: block;
    width: 100%;
    overflow: hidden;
}

    .layout_product ul {
        margin: 0px !important;
    }

.product_show {
    margin-top: 0px;
    padding-left: 0px;
    margin-left: 0px;
}

    .product_show .product_list {
        width: 218px;
        height: 290px;
        float: left;
        background: #FFF none repeat scroll 0% 0%;
        display: inline;
        margin: 0px 0px 14px 16px;
        border: 1px solid #b9b9b9;
    }

        .product_show .product_list:hover {
            border: 1px solid #c20201;
        }

        .product_show .product_list .product_img {
            margin: 8px 9px 0px;
            width: 200px;
            height: 200px;
            overflow: hidden;
            text-align: center;
        }

            .product_show .product_list .product_img a:hover {
                text-decoration: none;
            }

            .product_show .product_list .product_img .sale_text_title {
                display: block;
                height: 36px;
                z-index: 1000;
                position: relative;
                background: #fff;
                opacity: 0.7;
                filter: alpha(opacity=70);
                float: left;
                bottom: 36px;
                width: 200px;
                line-height: 36px;
                color: #c20201;
                font-size: 18px;
            }

    .product_show .list_first {
        margin-left: 0px;
    }

.hc_oneFimg {
    width: 456px !important;
    height: 292px !important;
    padding: 0px !important;
}

.hc_oneFli {
    width: 456px !important;
    float: left;
}

.product_list .product_img img {
    border: none;
}

.product_list .price_sale {
    width: 100%;
    height: 30px;
}

    .product_list .price_sale .sale_img {
        width: 43px;
        height: 17px;
        display: block;
        background: url(/Images/autoimg/publicimg/pfj.jpg);
        margin-left: 8px;
        margin-top: 7px;
        float: left;
    }

    .product_list .price_sale .sale_text {
        float: left;
        color: #c20201;
        display: inline;
        padding-left: 5px;
        font-size: 18px;
        line-height: 30px;
    }

.product_list .product_title {
    width: 100%;
    height: 52px;
    line-height: 20px;
    font-size: 12px;
}

.product_list .shop_title {
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    text-align: center;
    background: #e3e3e3;
}

    .product_list .shop_title .store_shop {
        width: 62%;
        height: 30px;
        display: block;
        float: left;
    }

    .product_list .shop_title .store_shop_img {
        width: 38%;
        height: 30px;
        display: block;
        float: right;
    }

        .product_list .shop_title .store_shop_img em {
            float: left;
            background: url(/Images/images/hche_help_img/public_img/Location_icon.png);
            height: 20px;
            width: 20px;
            margin: 5px 0px 0px 10px;
        }

        .product_list .shop_title .store_shop_img i {
            line-height: 30px;
            font-style: normal;
            float: left;
            text-align: left;
            display: block;
        }

.product_list .product_title .title_text {
    overflow: hidden;
    padding: 5px 10px;
    display: block;
    width: 200px;
    line-height: 22px;
    height: 43px;
    overflow: hidden;
}

.product_list a {
    color: #000000;
    text-decoration: none;
}

    .product_list a:hover {
        color: #c20201;
        text-decoration: underline;
    }
/**/
/*底部导航*/

.foot_nav {
    width: 100%;
    height: 48px;
    background: #fff;
    margin-top: 40px;
}

    .foot_nav ul {
        margin: 0 !important;
        list-style-type: none;
    }

        .foot_nav ul li {
            width: 14%;
            float: left;
            display: block;
            text-align: center;
            padding: 13px;
        }

            .foot_nav ul li a {
                color: #000;
            }

                .foot_nav ul li a:hover {
                    color: #c20201;
                }
/*底部版权部分*/

.foot_set {
    width: 820px;
    margin: 34px auto 80px;
    height: auto;
    display: block;
    font-size: 12px;
}

    .foot_set p {
        height: 40px;
        padding: 0 !important;
    }
/*订单详情*/
.hc_titwz {
    height: 30px;
    margin-top: 10px;
    background: #ececec;
    line-height: 30px;
    margin-bottom: 10px;
}

    .hc_titwz .youwz {
        margin-left: 15px;
    }

.hc_seekzt {
    color: #c20201;
    margin: 15px;
    font-size: 17px;
    font-weight: 100;
}

.hc_bgdivzt {
    background: #fef5ec;
    height: 280px;
}

    .hc_bgdivzt .seesdxq {
        text-align: center;
        line-height: 35px;
        font-size: 16px;
        padding: 35px;
    }

        .hc_bgdivzt .seesdxq .sizespan {
            font-size: 18px;
        }

        .hc_bgdivzt .seesdxq a {
            color: #c20201;
        }

.hc_seeknameli {
    width: 560px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #e76565;
    margin-left: 35px;
    float: left;
}

    .hc_seeknameli li {
        display: block;
        width: 96%;
        *padding: 15px 0px 15px 20px;
        padding: 8px;
        height: 30px;
    }

        .hc_seeknameli li dl dt {
            display: block;
            width: 38%;
            float: left;
            font-weight: 500;
        }

        * + html .hc_seeknameli li dl dt {
            display: block;
            width: 38%;
            float: left;
            font-weight: 500;
            margin-left: -38px;
        }

        .hc_seeknameli li dl dd {
            display: block;
            width: 60%;
            float: left;
        }

        .hc_seeknameli li span {
            line-height: 24px;
            word-break: all;
            word-wrap: break-word;
            width: 534px;
            overflow: hidden;
        }

.hc_sechalist {
    width: 500px;
    height: 120px;
    border-radius: 5px;
    border: 1px solid #e76565;
    margin-left: 20px;
    float: left;
}

    .hc_sechalist li {
        display: block;
        padding: 5px 0px 8px 10px;
        height: 20px;
        width: 100%;
    }

        .hc_sechalist li dl dt {
            display: block;
            float: left;
            width: 60%;
            height: 24px;
            overflow: hidden;
            font-weight: 500;
        }

        * + html .hc_sechalist li dl dt {
            display: block;
            float: left;
            width: 60%;
            height: 24px;
            overflow: hidden;
            font-weight: 500;
            margin-left: -38px;
        }

        .hc_sechalist li dl dd {
            display: block;
            float: left;
            width: 32%;
            height: 24px;
            overflow: hidden;
        }

        .hc_sechalist li p {
            margin: 1em 0em;
        }

    .hc_sechalist li {
        display: block;
        *padding: 5px 0px 8px 10px;
    }

.hc_sereval i {
    background: transparent url("/Images/submission/pd_Shop_star.png") no-repeat scroll 0% 0%;
    height: 16px;
    *height: 20px;
    width: 16px;
    display: inline-block;
}

.hc_sereval .hc_graystar {
    background: transparent url("/Images/submission/pd_Shop_star.png") no-repeat scroll 100% 0%;
}
/*订单信息*/
.hc_centbgxx {
    width: 100%;
    height: auto;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    display: inline-table;
}

.hc_seekBH {
    margin-bottom: 20px;
    margin-top: 20px;
    height: auto;
}

    .hc_seekBH .hc_seelli {
        display: block;
        float: left;
        width: 240px;
        margin-left: 35px;
        margin-bottom: 20px;
    }

    .hc_seekBH .hc_seelzf {
        display: block;
        float: left;
        width: 340px;
        margin-left: 135px;
        margin-right: 100px;
    }

.hc_table {
    border-collapse: collapse;
    border-spacing: 0px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    width: 100%;
    float: left;
    background: #FFF none repeat scroll 0% 0%;
}

    .hc_table .hc_coloeYL {
        background: #eee none repeat scroll 0% 0%;
    }

    .hc_table tr {
        height: 40px;
        text-align: center;
    }

    .hc_table td {
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        width: auto;
    }

.hc_sechalist .hc_telZG {
    background: transparent url("/Images/images/submission/Links.gif") no-repeat scroll 7px -1px;
    width: 80px;
    height: 20px;
    position: absolute;
    margin-top: -1px;
}

.hc_shopimg {
    text-align: left;
    padding: 15px;
    margin-left: 30px;
    height: 50px;
}

    .hc_shopimg img {
        width: 48px;
        height: 48px;
    }

    .hc_shopimg .textspan {
        float: left;
        width: 350px;
        margin-left: 10px;
    }

.textspan span a:hover {
    color: #C20201;
}

.hc_shifmony {
    float: right;
    line-height: 50px;
    margin-right: 25px;
}

    .hc_shifmony .monyspan {
        color: #c20201;
        font-size: 18px;
    }
/*推荐*/
.shophot {
    height: 190px;
    width: auto;
    display: block;
    margin: 0px auto 20px;
}

.hc_boder {
    border: 1px solid #CCC;
}

.hc_shopback {
    background: #EEE none repeat scroll 0% 0%;
    height: 38px;
}

    .hc_shopback .hc_bgimg {
        background: transparent url("/Images/submission/dp_Section_title2.jpg") repeat scroll 0% 0%;
        height: 38px;
        width: 100px;
        color: #FFF;
        font-size: 16px;
        line-height: 35px;
        text-align: center;
    }

.hc_shoplisma {
    margin: 0px 0px 0px 13px;
}

.hc_noewname a:hover {
    color: #c20201;
}

.hc_shoplisma .hc_newShop {
    width: 218px;
    background: #EEE none repeat scroll 0% 0%;
    height: 122px;
    border: 1px solid #FFF;
    float: left;
    margin: 14px 10px 14px 0px;
}

.hc_shoplisma .hc_newlt {
    width: 102px;
    height: 102px;
    float: left;
    margin: 10px 8px 0px 7px;
}

.hc_newlt a img {
    width: 102px;
    height: 102px;
}

.hc_shoplisma .hc_noewname {
    width: 95px;
    float: left;
    font-size: 13px;
    margin: 15px 0px;
}

    .hc_shoplisma .hc_noewname span {
        height: 82px;
        display: block;
        width: 100%;
        overflow: hidden;
    }

    .hc_shoplisma .hc_noewname .hc_red {
        color: #C20201;
        font-size: 15px;
        height: 30px;
    }

    .hc_shoplisma .hc_noewname a:hover {
        color: #c20201;
        text-decoration: none;
    }
/*支付和未消费的订单详情样式*/
.hceh_nowpay {
    background: #c20201 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    color: #fff !important;
    font-size: 16px;
    height: 32px;
    margin-top: -8px;
    padding: 5px;
    margin-left: 20px;
    width: 100px !important;
}

.hceh_confirmpay {
    width: 80px;
    height: 26px;
    font-size: 16px;
    background: #C20201 none repeat scroll 0% 0%;
    color: #FFF !important;
    padding: 5px;
    border-radius: 4px;
    display: inline-block;
    line-height: 26px;
}

.hche_cancelorder {
    color: #C20201;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
    width: 100%;
    height: 50px;
}

    .hche_cancelorder a {
        color: #333 !important;
        text-decoration: underline !important;
    }
/*支付完成样式*/
.hc_paysuccess {
    width: 1168px;
    border: 1px solid #C20201;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.hc_paysuccessimg {
    width: 182px;
    height: 169px;
    float: left;
}

.hche_ctroltext {
    width: 800px;
    float: right;
    margin-top: 35px;
    margin-left: 20px;
}

.hche_pay {
    margin-left: 150px;
    margin-top: 18px;
}

.hche_orderpay {
    font-size: 20px;
    color: rgb(194, 2, 1);
    height: 40px;
    line-height: 40px;
}

.hche_sertips {
    height: 40px;
    line-height: 40px;
    width: 100%;
}

.hche_contstep {
    float: left;
    width: 100%;
    margin-top: 20px;
}

    .hche_contstep span {
        width: 100px;
        border: 1px solid rgb(194, 2, 1);
        border-radius: 3px;
        display: block;
        text-align: center;
        line-height: 30px;
        height: 30px;
    }

.hche_contshopping {
    background: #C20201;
    color: #FFF;
}

    .hche_contshopping a {
        color: #FFF;
    }

.hche_orderdet {
    background: #FFF;
}

    .hche_orderdet a {
        color: #C20201;
    }

.hche_orderdet {
    margin-left: 30px;
}

.hche_orderpay a {
    color: #C20201;
}

.evaluation_show {
    width: 68px;
    height: 30px;
    border: 1px solid #C20201;
    background: #FEF5EC none repeat scroll 0% 0%;
    line-height: 30px;
    border-radius: 2px;
    display: inline-block;
}