/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
@media screen and (max-width: 380px) {
.serviceWrapper {
	float: none;
	margin-right: 0px;
	width: 100%;
}
.serviceWrapper:last-child {
	border-bottom: 0px;
}
}
/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
