<div class="hche-footer grey">

    <div class="container">
        <div class="row">
            <ul class="foot_list">
                <li>
                    <h4>购物指南</h4>
                    <div class="foot_sflist">
                        <ul>
                            <li>
                                <a href="/HelpCenter/Memberreg?menuimg=0">会员服务协议</a>
                            </li>
                            <li>
                                <a href="/HelpCenter/WebAgreement?menuimg=0">网站购物规则</a>
                            </li>
                            <li>
                                <a href="/HelpCenter/Shoppingprocess?meuimg=0">网上购物流程</a>
                            </li>
                            <li>
                                <a href="javascript:;">关于购物配送</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h4>店铺服务</h4>
                    <div class="foot_sflist">
                        <ul>
                            <li>
                                <a href="/HelpCenter/CorporateMembers?menuimg=1">开店资质</a>
                            </li>
                            <li>
                                <a href="/HelpCenter/Instructions?menuimg=1">入驻须知</a>
                            </li>
                            <li>
                                <a href="/HelpCenter/InvestmentPolicy?menuimg=1">招商政策</a>
                            </li>
                            <li>
                                <a href="/HelpCenter/ReleaseRules?menuimg=1">信息发布规则</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h4>付款方式</h4>
                    <div class="foot_sflist">
                        <ul>
                            <li>
                                <a href="/HelpCenter/Alipay?menuimg=1">支付宝</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h4>消费者保障</h4>
                    <div class="foot_sflist">
                        <ul>
                            <li>
                                <a href="/HelpCenter/ReturnPolicy?menuimg=2">退，换货说明</a>
                            </li>
                            <li>
                                <a href="/HelpCenter/ProcessingRules?menuimg=2">违规处理</a>
                            </li>
                            <li>
                                <a href="/HelpCenter/HelpProcessing?menuimg=2">举报处理</a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <h4>全国运营分布</h4>
                    <div class="foot_sflist">
                        <ul>
                            <li>
                                <a href="@Url.Action("ServiceCenter", "HelpCenter", new { province = 61 })">陕西运营中心</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ServiceCenter", "HelpCenter", new { province = 44 })">广东运营中心</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ServiceCenter", "HelpCenter", new { province = 51 })">沈阳运营中心</a>
                            </li>
                            <li style="text-align:right;">
                                <a href="@Url.Action("ServiceCenter", "HelpCenter")" style="margin-right:70px;">更多>></a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- /底部列表结束 -->
    <!-- 底部导航开始 -->
    <nav class="foot_nav">
        <div class="container">
            <div class="row">
                <ul>
                    <li>
                        <a href="/HelpCenter/CompanyProfile">关于谁帮我养车</a>
                    </li>
                    <li>
                        <a href="/HelpCenter/WebAgreement?menuimg=0">联系我们</a>
                    </li>
                    <li>
                        <a href="/HelpCenter/Memberreg?menuimg=0">帮助中心</a>
                    </li>
                    <li>
                        <a href="/HelpCenter/WebAgreement?menuimg=0">烩车网官方微信</a>
                    </li>
                    <li>
                        <a href="/HelpCenter/LegalNotices">法律声明</a>
                    </li>
                    <li>
                        <a href="/HelpCenter/WebAgreement?menuimg=0">加入我们</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- /底部导航结束 -->
    <div class="container">
        <div class="row">
            <div class="foot_set">
                <p style="float: left; margin-right: 10px;">
                    <img src="/Images/autoimg/publicimg/foot_pic1.jpg" />&nbsp;
                    <img src="/Images/autoimg/publicimg/foot_pic2.jpg" />
                </p>
                <p class="text-left">
                    copyright @@ 2011-2014 autobobo.com. ALL Rights　Reserved. 西安车宝宝电子商务有限公司 版权所有
                    <br /> 电信业务审批[2007]字第380号　ICP许可证编号/备案号：陕ICP备14006312号-1
                    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cspan id='cnzz_stat_icon_1254404706'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1254404706%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
                </p>
            </div>
        </div>
    </div>
</div>